{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'pages/sub_layouts/information_top_navbar.html' %}
            </div>
        </div>
    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="information_table" class="table table-hover table-striped align-middle table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Website</th>
                                        <th>Title</th>
                                        <th>Order</th>
                                        <th>URL</th>
                                        <th width="100px"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block javascript %}



<script>
    $(document).ready(function() {

    //    $("#js-customer-create").click(loadForm);

    $('#information_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/pages/api/info/?format=datatables"
             },
        "deferRender": true,
        "order": [[ 1, "desc" ]],
         "search": {
            "regex": true
        },
        columns :[
            {
                data: "store",
                sortable: false,
                searchable: false,
                name: "store.name",
                render: function ( data, type, row ) {
                    let image_src = '{% get_media_prefix %}' + 'stores/branding/logos/' + data.thumb;
                    return '<img height="15px" src="' + image_src + '">'
                 }
            },
            {data: "title"},
            {data: "clean_url"},
            {data: "sort_order"
            },
            {
                data: null,
                sortable: false,
                className: 'text-md-end text-start',
                render: function ( data, type, row ) {
                let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-tsg-row" href="' + row['information_id'] + '/edit"><i class="{{ ICON_EDIT }} fa-sm"></i></a>';
                let delete_icon = '<a  class="btn {{ BUTTON_DELETE }} btn-tsg-row js-info-delete" role="button" data-url="' + row['information_id'] + '/deletedlg"><i class="{{ ICON_DELETE }} fa-sm"></i></a>';
                return  edit_icon + " " + delete_icon;

                }
            },
            {data: "information_id", visible: false},
        ]
    } );


} );

$(document).on('click', '.js-info-delete', loadForm);

</script>

{% endblock javascript %}