{% load static %}
<div class="card h-100 mb-0">
             <div class="card-header company_main_contact">
                 <div class="row">
                     <div class="col-9 align-center">
                         <img height="20px" src="{% get_media_prefix %}stores/branding/logos/{{ company_obj.store.thumb }}" class="img-responsive"
                         alt="{{ company_obj.store.name }}">
                         Company and Accounts Contact
                     </div>
                     <div class="col-3">
                         <div class="float-end">
                             <div class="d-grid gap-2 d-md-flex justify-content-md-end pe-0">
                                <button type="button" class="btn {{ BUTTON_EDIT }} btn-sm js-company-dlg"
                                        data-url="{% url 'company_details_edit' company_obj.company_id %}"
                                        data-dlgsize="modal-xl"
                                ><i class="{{ ICON_EDIT }} fa-pull-right"></i></button>
                        </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <div class="row">
                     <div class="col-6">
                        <dl class="row text-nowrap" id="company_{{ company_obj.company_id }}">
                             <dt class="col-3">Company</dt>
                             <dd class="col-9">{{ company_obj.company_name }}</dd>
                             <dt class="col-3">Contact Name</dt>
                             <dd class="col-9">{{ company_obj.accounts_contact_firstname }} {{ company_obj.accounts_contact_lastname }}</dd>
                             <dt class="col-3">Company Type:</dt>
                             <dd class="col-9">{{ company_obj.company_type.company_type_name }}</dd>
                             <dt class="col-3">Account Type</dt>
                             <dd class="col-9">{{ company_obj.account_type.account_type_name }}</dd>
                             <dt class="col-3">Payment Terms:</dt>
                             <dd class="col-9">{{ company_obj.payment_days }} - {{ company_obj.payment_terms.term_title }}</dd>
                             <dt class="col-3">Credit Limit:</dt>
                             <dd class="col-9">{{ company_obj.credit_limit }}</dd>
                             <dt class="col-3">Discount %:</dt>
                             <dd class="col-9">{{ company_obj.discount }}</dd>
                        </dl>
                     </div>
                     <div class="col-6">
                         <dl class="row text-nowrap">
                             <dt class="col-3">Email: </dt>
                             <dd class="col-9"><a href="mailto:{{ company_obj.accounts_email }}">{{ company_obj.accounts_email }}</a></dd>
                             <dt class="col-3">Telephone: </dt>
                             <dd class="col-9">{{ company_obj.accounts_telephone }}</dd>
                         <dt>Invoice Address</dt>
                         <address >
                                {{ company_obj.accounts_address|linebreaksbr  }}<br>
                                {{ company_obj.accounts_area }}<br>
                                {{ company_obj.accounts_city }}<br>
                                <strong>{{ company_obj.accounts_postcode }}</strong><br>
                                {{ company_obj.accounts_country }}
                        </address>
                             </dl>
                     </div>
                 </div>

             </div>
         </div>
