{% load static %}
<div class="card h-100 mb-0">
             <div class="card-header company_account_details">
                 <div class="row">
                     <div class="col-9 ">
                         Account Summary
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <dl class="row text-nowrap" id="company_{{ company_obj.company_id }}">
                     <dt class="col-3">Total Orders:</dt>
                     <dd class="col-9"></dd>
                     <dt class="col-3">Total Spend:</dt>
                     <dd class="col-9"></dd>
                     <dt class="col-3">Current Outstanding:</dt>
                     <dd class="col-9"></dd>
                 </dl>
             </div>
         </div>
