{% load static %}
{% load humanize %}
<div class="card h-100 mb-0">
             <div class="card-header company_account_details">
                 <div class="row">
                     <div class="col-9 ">
                         Account Summary
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <dl class="row text-nowrap" id="company_{{ company_obj.company_id }}">
                     <dt class="col-3">Total Orders:</dt>
                     <dd class="col-9">{{ total_orders }}</dd>
                     <dt class="col-3">Total Spend:</dt>
                     <dd class="col-9">{{ current_symbol }}{{ total_order_value|floatformat:2|intcomma }}</dd>
                     <dt class="col-3">Current Outstanding:</dt>
                     <dd class="col-9">{{ current_symbol }}{{ account_balances.outstanding|floatformat:2|intcomma }}</dd>
                     <dt class="col-3">Current Overdue:</dt>
                     <dd class="col-9">{{ current_symbol }}{{ account_balances.overdue|floatformat:2|intcomma }}</dd>
                 </dl>
             </div>
         </div>
