<div class="container">
<form method="post" id="form-quick_manual"
      action="{{ form_post_url }}"
        {% if price_for|upper == "I" %} class="js-product-add-bespoke"
        {% else %}
      class="js-quote-add"
        {% endif %}
>
    <h4>Known size and price - 2</h4>
    <div class="row pb-2">
        <div class="col-4">
            <label for="manualWidth" class="form-label">Width</label>
            <input type="number" class="form-control" id="manualWidth" name="manual_width" min="0" placeholder="0" onchange="reCalc()">
        </div>
        <div class="col-4">
            <label for="manualHeight" class="form-label">Height</label>
            <input type="number" class="form-control" id="manualHeight" name="manual_height" min="0" placeholder="0" onchange="reCalc()">
        </div>
        <div class="col-4">
            <label for="manualPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="manualPrice" step="0.01" min="0" placeholder="0"
                   onchange="reCalc()">
        </div>
    </div>
<hr>
    <div><h4>Size you want</h4> <div class="form-switch form-check">
                <input class="form-check-input switchScale" type="checkbox" id="switchScale"
                       >
                <label class="form-check-label" for="switchScale">Lock Aspect</label>
            </div>
    </div>
    <div class="row pb-2">
        <div class="col-4">
            <label for="manualCalcWidth" class="form-label">Width</label>
            <input type="number" class="form-control" id="manualCalcWidth" min="0" placeholder="0">

        </div>
        <div class="col-4">
            <label for="manualCalcHeight" class="form-label">Height</label>
            <input type="number" class="form-control" id="manualCalcHeight" min="0" placeholder="0">
        </div>
        <div class="col-4">
            <label for="manualMaterial" class="form-label">Material</label>
            <input class="form-control" list="datalistMaterials" id="manualMaterial" name="material_name"
                   placeholder="Type to search..." onchange="reCalc()">
            <datalist id="datalistMaterials">
                {% for materials in material_obj %}
                    <option value="{{ materials.material_name }}"
                            data-materialid="{{ materials.material_id }}"></option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <div class="row pb-2">
        {% if price_for|upper == "I" or price_for|upper == "Q" %}
            <input type="hidden" name="selected_option_values_frm" id="selected_option_values_frm">
            <input type="hidden" id="{{ form.is_bespoke.name }}" name="{{ form.is_bespoke.name }}" value="True">
            <input type="hidden" id="{{ form.product_id.name }}" name="{{ form.product_id.name }}" value="0">
            <input type="hidden" id="{{ form.product_variant.name }}" name="{{ form.product_variant.name }}">
            <input type="hidden" class="form-control" id="{{ form.size_name.name }}"
                   name="{{ form.size_name.name }}" value="{{ form.size_name.value }}">
            <input type="hidden" class="form-control" id="{{ form.width.name }}"
                   name="{{ form.width.name }}" value="{{ form.width.value }}">
            <input type="hidden" class="form-control" id="{{ form.height.name }}"
                   name="{{ form.height.name }}" value="{{ form.height.value }}">
            <input type="hidden" id="{{ form.total.name }}" name="{{ form.total.name }}"
                   value="{{ form.total.value|floatformat:2 }}">
            <input type="hidden" id="{{ form.tax.name }}" name="{{ form.tax.name }}"
                   value="{{ form.tax.value|floatformat:2 }}">
            <input type="hidden" id="{{ form.exclude_discount.name }}" name="{{ form.exclude_discount.name }}"
                       value="{{ form.exclude_discount.value }}">
            <input type="hidden" id="{{ form.bulk_used.name }}" name="{{ form.bulk_used.name }}"
                       value="{{ form.bulk_used.value }}">
            <input type="hidden" id="{{ form.bulk_discount.name }}" name="{{ form.bulk_discount.name }}"
                       value="1">

            <div class="col-4">
                <label for="{{ form.model.name }}" class="form-label">{{ form.model.label }}</label>
                <input type="text" class="form-control" id="{{ form.model.name }}"
                       name="{{ form.model.name }}" value="BESPOKE">
            </div>
            <div class="col-8">
                <label for="{{ form.name.name }}" class="form-label">{{ form.name.label }}</label>
                <input type="text" class="form-control" id="{{ form.name.name }}"
                       name="{{ form.name.name }}" value="{{ form.name.value }}">
            </div>

        {% endif %}
     </div>
     <div class="row" id="bespoke_addons">
           {% include 'orders/dialogs/bespoke_product_addons.html' %}
     </div>
    {% csrf_token %}

    <input type="hidden" id="text_to_copy" name="text_to_copy" value="">
    <input type="hidden" id="price_to_copy" name="price_to_copy" value="">
    <textarea id="string_to_copy_manual" name="string_to_copy_manual" class="hidden_copy"  value=""></textarea>

    {% csrf_token %}
    {% if price_for|upper == "I" %}
        <input type="hidden" id="{{ form.order.name }}" name="{{ form.order.name }}" value="{{ order_id }}">
        <input type="hidden" id="{{ form.status.name }}" name="{{ form.status.name }}" value="1">
        <input type="hidden" id="{{ form.single_unit_price.name }}" name="{{ form.single_unit_price.name }}" value="0">
        <input type="hidden" id="{{ form.base_unit_price.name }}" name="{{ form.base_unit_price.name }}" value="0">

    {% elif price_for|upper == "Q" %}
        <input type="hidden" id="{{ form.quote.name }}" name="{{ form.quote.name }}" value="{{ quote_id }}">
         <input type="hidden" id="{{ form.single_unit_price.name }}" name="{{ form.single_unit_price.name }}" value="0">
         <input type="hidden" id="{{ form.base_unit_price.name }}" name="{{ form.base_unit_price.name }}" value="0">
    {% else %}
         <input type="hidden" id="single_unit_price" name="single_unit_price" value="0">
         <input type="hidden" id="base_unit_price" name="base_unit_price" value="0">
    {% endif %}


<hr>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="form-check form-switch col-6 ">
                    <input class="form-check-input switchApplyBulk" type="checkbox" id="switchApplyBulk" role="switch"
                           checked>
                    <label class="form-check-label" for="stock-switchShowBulk">Apply bulk discount</label>
                </div>
                <div class="form-check-warning form-switch col-6">
                    <input class="form-check-input" type="checkbox" id="switch_exclude_discount_manual"
                           name="switch_exclude_discount_manual" role="switch">
                    <label class="form-check-label" for="switch_exclude_discount_manual">Exclude from discount</label>
                </div>
            </div>
            <div class="row">
                <div class="collapse show" id="collapseBulkDiscount">
                    <div class="row">
                        <div class="col-12" id="bulkTableDiv">
                            <select class="form-select bulk_group_select" id="stock-bulk_group_select">
                                {% for bulk_group in bulk_info %}
                                    <option value="{{ bulk_group.id }}">{{ bulk_group.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="row">
                                <div class="col-xs-12" id="bulk_pricing_div">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="row d-flex justify-content-md-end mb-2">
                    <div class="col-6 col-lg-4">

                        <label for="quantity"
                               class="form-label">QTY</label>
                        <input type="number" min="1" step="1" class="form-control calc_line_totals"
                               id="quantity" name="quantity"
                               value="1">
                    </div>
                    <div class="col-6 col-lg-4">
                        <label for="price"
                               class="form-label">Price</label>
                        <input type="number" id="price" name="price"
                               step="0.01"
                               value="0.00"
                               class="form-control calc_line_totals" readonly>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-end text-end">
                        <h3>£<span id="line_total_cal">0.00</span></h3>
                    </div>
                </div>
            </div>
            {% if price_for|upper == "Q" or price_for|upper == "I" %}
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Close</button>
                        <button type="submit" id="submit" class="btn btn-success pull-right" >Add</button>
                    </div>
                </div>
            {% else %}
                    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn-group dropen">
          <button type="button" class="btn btn-success btncopy" id="js-copy_price_manual" data-clipboard-target="#string_to_copy_manual">Copy</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Copy</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" id="quick_price_manual_copy">Price</a></li>
            <li><a class="dropdown-item" data-url="{% url 'pricing_text_manual_bulk' %}" href="#" id="quick_price_manual_copy_bulk">Bulk</a></li>

          </ul>
            </div>
</div>

    </div>
            {% endif %}
        </div>
    </div>

</form>
</div>



