{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title">Create Store Price</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form method="post" action="{% url 'storepricecombocreate' size_material_id %}" id="form-store_price-create">
            {% csrf_token %}
            <input type="hidden" id="size_material_id" name="size_material_id" value="{{ size_material_id }}">
            <h3>Choose the new price</h3>
            <div class="row">

                <select class="form-select pb-2" aria-label="Default select" id="store_id" name="store_id">

                    {% for store_data in store_obj %}
                        <option value="{{ store_data.store_id }}">{{ store_data.name }}</option>

                    {% endfor %}
                </select>
                <div class="col-md-12">{{ form.price|as_crispy_field }}</div>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Add</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>