
                    <dl class="row text-nowrap" id="address_{{ address.pk }}">
                        <dt class="col-3">Contact</dt>
                        <dd class="col-9">{{ order_obj.payment_fullname}}</dd>
                    <dt class="col-3">Email</dt>
                        <dd class="col-9"><a
                                href="mailto:{{ order_obj.payment_email }}">{{ order_obj.payment_email }}</a></dd>
                        <dt class="col-3">Phone</dt>
                        <dd class="col-9">{{ order_obj.payment_telephone|default:"&nbsp;" }}</dd>
                        {% if order_obj.payment_company %}
                            <dt class="col-3">Company</dt>
                            <dd class="col-9">{{ order_obj.payment_company }}</dd>
                        {% endif %}
                        <dt class="col-3">Address</dt>
                        <dd class="col-9">
                            <address >
                                {{ order_obj.payment_address_1|linebreaksbr  }}<br>
                                {% if order_obj.payment_address_2 %}
                                    {{ order_obj.payment_address_2|linebreaksbr }}<br>
                                {% endif %}
                            {{ order_obj.payment_city }}<br>
                                 {% if order_obj.payment_area %}
                                {{ order_obj.payment_area }}<br>
                                {% endif %}

                                <strong>{{ order_obj.payment_postcode }}</strong><br>
                                {{ order_obj.payment_country }}
                            </address>
                        </dd>

                    </dl>
