{% load static %}
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data" action="{% url 'order_document-upload' %}" id="form_order_document">
    {% csrf_token %}
    {{ docform.order.as_hidden }}

    <div class="row">
        <div class="col-4">
            {{ docform.filename|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ docform.description|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ docform.type|as_crispy_field }}
        </div>
    </div>
    <button type="submit">Upload</button>
  </form>



<script>



</script>


