{% load static %}
<div class="card h-100 mb-0">
             <div class="card-header order_details">
                 <div class="row">
                     <div class="col-9 ">
                         Order Details
                     </div>
                     <div class="col-3">
                         <div class="float-end">
                             <div class="d-grid gap-2 d-md-flex justify-content-md-end pe-2">
                                <button type="button" class="btn btn-primary btn-sm js-order-details-edit"
                                        data-url="{% url 'orderdetailsedit' order_obj.order_id %}"
                                        data-dlgsize=""
                                ><i class="fas fa-edit fa-pull-right"></i></button>
                        </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <dl class="row text-nowrap" id="order_{{ order_obj.order_id }}">
                     {% if order_obj.customer %}
                         <dt class="col-3">Customer</dt>
                         {% if order_obj.customer.company %}
                              <dd class="col-9">{{ order_obj.customer.company }}</dd>
                         {% else %}
                             <dd class="col-9"><a href="{% url 'customerdetails' order_obj.customer.customer_id  %}">{{ order_obj.customer.firstname }} {{ order_obj.customer.lastname }}</a></dd>
                         {% endif %}
                     {% endif %}

                     <dt class="col-3">Order No:</dt>
                     <dd class="col-9">{{ order_obj.order_id }}</dd>
                     <dt class="col-3">Purchase Ref:</dt>
                     <dd class="col-9">{{ order_obj.customer_order_ref|default:"&nbsp;" }}</dd>
                     <dt class="col-3">Date:</dt>
                     <dd class="col-9">{{ order_obj.date_added }}</dd>
                     <dt class="col-3">Status:</dt>
                     <dd class="col-9">{{ order_obj.order_status.name }}</dd>
                     <dt class="col-3">Payment:</dt>
                     <dd class="col-9">{{order_obj.payment_status.name }} - {{order_obj.payment_method.payment_method_name }}</dd>
                     <dt class="col-3">Shipment:</dt>
                     <dd class="col-9"></dd>

                 </dl>

             </div>
         </div>