{% load static %}
<div class="card h-100 mb-0">
             <div class="card-header order_details">
                 <div class="row">
                     <div class="col-9 ">
                         Order Details
                     </div>
                     <div class="col-3">
                         <div class="float-end">
                             <div class="d-grid gap-2 d-md-flex justify-content-md-end pe-2">
                                <button type="button" class="btn btn-primary btn-sm js-order-details-edit"
                                        data-url="{% url 'orderdetailsedit' order_obj.order_id %}"
                                        data-dlgsize=""
                                ><i class="fas fa-edit fa-pull-right"></i></button>
                        </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-body">
                 <dl class="row text-nowrap" id="order_{{ order_obj.order_id }}">
                     {% if order_obj.customer %}
                         <dt class="col-3">Customer</dt>
                         {% if order_obj.customer.company %}
                              <dd class="col-9">{{ order_obj.customer.company }}</dd>
                         {% else %}
                             <dd class="col-9"><a href="{% url 'customerdetails' order_obj.customer.customer_id  %}">{{ order_obj.customer.firstname }} {{ order_obj.customer.lastname }}</a></dd>
                         {% endif %}
                     {% endif %}

                     <dt class="col-3">Order No:</dt>
                     <dd class="col-9">{{ order_obj.order_id }}</dd>
                     <dt class="col-3">Purchase Ref:</dt>
                     <dd class="col-9">{{ order_obj.customer_order_ref|default:"&nbsp;" }}</dd>
                     <dt class="col-3">Date:</dt>
                     <dd class="col-9">{{ order_obj.date_added }}</dd>
                     <dt class="col-3">Status:</dt>
                     <dd class="col-9">{{ order_obj.order_status.name }}</dd>
                     <dt class="col-3">Payment:</dt>
                     <dd class="col-9">{{order_obj.payment_status.name }} - {{order_obj.payment_method_rel.payment_method_name }}</dd>
                     <dt class="col-3">Shipment:
                         {% if shippingObj %}
                        <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <li class="fas fa-hourglass-half"></li>
                        </a>
                         {% endif %}
                     </dt>
                    {% if shippingObj %}
                        <dd class="col-9 text-wrap">
                            <img class="img-responsive " height="15px"
                                src="{% static "" %}images/{{shippingObj.first.shipping_courier.courier_logo }}">
                                ({{shippingObj.first.shipping_courier_method }}) <strong class="{{shippingObj.first.shipping_status.status_colour }}">
                                {{shippingObj.first.shipping_status }}</strong> on {{shippingObj.first.date_added|date:"D d M Y H:i:s" }} -
                            <strong>{{shippingObj.first.tracking_number }}</strong>
                        <dl class="collapse row" id="collapseExample">
                            {% for shipping_info in shippingObj|slice:'1:' %}
                                 <dt class="col-0">

                                 </dt>
                            <dd class="col-12">
                                <img class="img-responsive " height="15px"
                                src="{% static "" %}images/{{shipping_info.shipping_courier.courier_logo }}">
                                ({{shipping_info.shipping_courier_method }}) <strong class="{{shipping_info.shipping_status.status_colour }}">
                                {{shipping_info.shipping_status }}</strong> on {{shipping_info.date_added|date:"D d M Y H:i:s" }} -
                                <strong>{{shipping_info.tracking_number }}</strong></dd>
                            {% endfor %}
                        </dl>
                        </dd>
                    {% else %}
                        <dd class="col-9">Not yet shipped</dd>
                    {% endif %}


                 </dl>
             </div>
         </div>
