{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title">New Company</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12 pe-0">
                <form method="post" action="{% url 'save_company' %}"
                      id="js-company-create-form">
                    {% csrf_token %}
                    <input type="hidden" name="chk_create_contact" value="1">
                    <div class="row">
                        <div class="col-8 border-end">
                            <div class="row">
                                <div class="col-md-4">{{ form.company_name|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.accounts_contact_firstname|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.accounts_contact_lastname|as_crispy_field }}</div>
                                <div class="col-md-6">{{ form.accounts_telephone|as_crispy_field }}</div>
                                <div class="col-md-6">{{ form.accounts_email|as_crispy_field }}</div>
                                <div class="col-12">{{ form.accounts_address|as_crispy_field }}</div>
                                <div class="col-6">{{ form.accounts_city|as_crispy_field }}</div>
                                <div class="col-6">{{ form.accounts_area|as_crispy_field }}</div>
                                <div class="col-6">{{ form.accounts_postcode|as_crispy_field }}</div>
                                <div class="col-6">{{ form.accounts_country|as_crispy_field }}</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-md-12">{{ form.company_type|as_crispy_field }}</div>
                                <div class="col-md-12">{{ form.account_type|as_crispy_field }}</div>
                                <div class="col-md-8">{{ form.payment_terms|as_crispy_field }}</div>
                                <div class="col-md-4">{{ form.payment_days|as_crispy_field }}</div>
                                <div class="col-md-6">{{ form.discount|as_crispy_field }}</div>
                                <div class="col-md-6">{{ form.credit_limit|as_crispy_field }}</div>
                                <div class="col-md-12">{{ form.tax_rate|as_crispy_field }}</div>
                                <div class="col-md-12" >{{ form.store|as_crispy_field }}</div>
                                <div class="col-md-12">{{ form.status|as_crispy_field }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                                <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        let fieldMatch = {
            'Company': 'id_{{ form.company_name.name}}',
            'Line1': 'id_{{ form.accounts_address.name}}',
            'Line2': 'id_{{ form.accounts_address.name}}',
            'Line3': 'id_{{ form.accounts_address.name}}',
            'City': 'id_{{ form.accounts_city.name}}',
            'ProvinceName': 'id_{{ form.accounts_area.name}}',
            'CountryIsoNumber': 'id_{{ form.accounts_country.name}}',
            'PostalCode': 'id_{{ form.accounts_postcode.name}}',
        }

        let inputFields = ['#id_{{ form.company_name.name}}', '#id_{{ form.accounts_postcode.name}}', '#id_{{ form.accounts_address.name}}']
        TSGAddressLookup(inputFields, '', fieldMatch)
    })

    $(document).on("submit", "#js-company-create-form", SaveDialogFormRedirect);

</script>