{% load static %}
<div class="row">
<div class="col-6">
    <dl class="row text-wrap">
    <dt class="col-3">Code:</dt>
    <dd class="col-9">{{ new_product_obj.model}}</dd>
    <dt class="col-3">Title:</dt>
    <dd class="col-9">{{ new_product_obj.productdescbase.name}}</dd>
</dl>
    <a class="btn {{ BUTTON_EDIT }} btn-sm" id="js-value-product" data-url="{% url 'choose_option_value_product' %}" data-dlgsize="modal-lg" role="button" ><i class="{{ ICON_EDIT }}"></i> Change Product</a>

</div>
<div class="col-6">
    <img class="img-fluid img-thumbnail" src="{{ new_product_obj.image_url}}">
</div>
    </div>

