# Project exclude paths
/venv/
.env
/apps/dashboard/migrations/
medusa/wsgi.py
.idea/
misc.xml
requirements_old.txt
!/apps/xero_api/config.py
/static/libs/bootstrap/
/static/libs/jquery-ui-dist/
/static/libs/datatables.net-autofill/
/static/libs/datatables.net-autofill-bs4/
/static/libs/datatables.net-bs4/
/static/libs/datatables.net-bs5/
/static/libs/datatables.net-buttons/
/static/libs/datatables.net-buttons-bs4/
/static/libs/datatables.net-keytable/
/static/libs/datatables.net-keytable-bs4/
/static/libs/datatables.net-responsive/
/static/libs/datatables.net-responsive-bs4/
/static/libs/datatables.net-select/
/static/libs/datatables.net-select-bs4/
/static/libs/jquery/
/static/libs/jquery-countdown/
/static/libs/jquery-knob/
/static/libs/jquery-sparkline/
/static/libs/jquery-steps/
/static/libs/jquery.easing/
/static/libs/metismenu_3_6/
