{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medusa - In control</title>
    <meta content="Total safety Group" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    {% block extra_css %}{% endblock %}
    <!-- Bootstrap Css -->

    <link href="{% static 'libs/bootstrap/5_1_3/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.css'%}" id="app-style" rel="stylesheet" type="text/css" />
    <!-- Dark Mode Css-->
    <link href="{% static 'css/dark-layout.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />

    <link href="{% static 'css/tsg.css'%}" id="app-style" rel="stylesheet" type="text/css" />

    <link href="{% static 'css/bootstrap2-toggle.css'%}" id="app-style" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/bootstrap-table/css/bootstrap-table.css'%}" id="bootstrap-table" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/lighbox/css/lightbox.min.css'%}"  rel="stylesheet" type="text/css" />

    <link href="{% static 'css/multi-select.css' %}"  rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.css' %} "/>

<script src="https://kit.fontawesome.com/7bfee5acb0.js" crossorigin="anonymous"></script>



{% block extrahead %}

{% endblock extrahead %}

</head>
<body data-sidebar="dark" >
{% comment %} <body data-topbar="dark" data-layout="horizontal"> {% endcomment %}

    {% block preloader %}
        {% comment %} {% include 'partials/preloader.html' %} {% endcomment %}
    {% endblock preloader %}


    <!-- Begin page -->
    <div id="layout-wrapper">
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock header %}
        {% block sidebar %}
            {% include 'partials/left_sidebar.html' %}
            {% comment %} {% include 'partials/horizontal-sidebar.html' %} {% endcomment %}

        {% endblock sidebar %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <div class="page-title-left">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="{{pageview_url}}">{{pageview}}</a></li>
                                        <li class="breadcrumb-item active">{{heading}}</li>
                                    </ol>
                                </div>
                                <div class="page-title-right">
                                {% if nav_data %}
                                    <span>
                                        {% if nav_data.previous_url|length > 1 %}
                                            <a href="{{nav_data.previous_url}}">Previous {{nav_data.label}}</a>
                                        {% else %}
                                            Previous {{nav_data.label}}
                                        {% endif %}
                                    </span>
                                    <span class="ms-2">
                                        {% if nav_data.next_url|length > 1 %}
                                            <a href="{{nav_data.next_url}}">Next {{nav_data.label}}</a>
                                        {% else %}
                                            Next {{nav_data.label}}
                                        {% endif %}
                                    </span>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    {% block content %}
                    {% endblock content %}
                    {% block subscriber %}
                    {% endblock subscriber %}
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            {% block footer %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
                {% include 'partials/footer.html' %}

            {% endblock footer %}
        </div>
        <!-- end main content-->


     <div class="modal fade" id="modal-base" role="dialog" data-onclose="something">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document" id="modal-outer">
            <div class="modal-content">
            </div>
        </div>
    </div>





    </div>
    <!-- END layout-wrapper -->
    {% include 'partials/javascript.html' %}
    {% block javascript %}
        <script>
        //const myModalEl = document.getElementById('modal-base');
        </script>

    {% endblock javascript %}
</body>
</html>