{% load static %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/5_1_3/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/lighbox/js/lightbox.min.js' %}"></script>
        <script src="{% static 'libs/copy-to-clipboard/clipboard.min.js' %}"></script>
        <script src="{% static 'libs/toggle/bootstrap2-toggle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/tsg_datatables/datatables.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/bootstrap-table/js/bootstrap-table.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/medusa.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/address-lookup.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/pricing.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/copy-to-clipboard/clipboard.js' %}"></script>


        <script>
        if (typeof static_const === 'undefined') {
            const static_const = {% get_static_prefix %};
        }
        if (typeof media_url === 'undefined') {
             const media_url = "{% get_media_prefix %}";
        }


        </script>
{% endblock %}
