{% block sidebar %}
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">

                            <li>
                                <a href="{% url 'dashboard' %}" class="waves-effect">
                                    <i class='fas fa-th'></i>
                                    <span key="t-dashboard">Dashboard</span>
                                </a>
                            </li>

                
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class='fas fa-shopping-cart' ></i>
                                    <span>Sales</span>

                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'allorders' %}" >Orders</a></li>
                                    <li><a href="{% url 'allquotes' %}">Quotes</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class='fas fa-user-friends' ></i>
                                    <span>Contacts</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'allcompanies' %}" >Companies</a></li>
                                    <li><a href="{% url 'allcustomers' %}" >Customers</a></li>
                                    <li><a href="quotes">Suppliers</a></li>
                                </ul>
                            </li>

                            <li class="menu-title mt-3">Admin Tools</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class='fas fa-box-open'></i>
                                    <span>Catalogue</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{%  url 'allproducts' %}" >Products</a></li>
                                    <li><a href="{% url 'allcategories' %}" >Categories</a></li>
                                     <li><a href="{% url 'allsymbols' %}" >Symbols</a></li>

                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class='fas fa-coins'></i>
                                    <span>Pricing</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{%  url 'allbaseprices' %}" >Prices</a></li>
                                    <li><a href="{%  url 'allsizes' %}" >Sizes</a></li>
                                     <li><a href="{%  url 'allmaterials' %}" >Materials</a></li>

                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class='fas fa-cogs'></i>
                                    <span>Options</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'alloptionsclass' %}" >Class</a></li>
                                    <li><a href="{% url 'alloptionstype' %}" >Type</a></li>
                                    <li><a href="{% url 'alloptionsvalues' %}" >Values</a></li>
                                    <li><a href="{% url 'alloptionsgroups' %}" >Groups</a></li>
                                </ul>
                            </li>



                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
{% endblock sidebar %}