{% load static %}
<div class="col-12 col-md-4 col-xl-4">
    <div class="card h-100 mb-0 ">
        <div class="card-header customer_details">
                 <div class="row">
                     <div class="col-9 ">
                         <img height="20px" src="
                    {% get_media_prefix %}stores/branding/logos/{{ customer_obj.store.thumb }}">
                         Main Contact
                         {% if customer_obj.collect %}
                             <i class="fa-solid fa-hand-holding-box" title="Customer collects by default"></i>
                         {% endif %}
                     </div>
                     <div class="col-3">
                       <div class="float-end pe-0">
                            <a class="btn {{ BUTTON_EDIT }} btn-sm js-contact-edit" data-url="{% url 'customerdetailsedit' customer_obj.pk %}"
                               role="button"><i class="{{ ICON_EDIT }} fa-pull-right"></i></a>
                        </div>
                     </div>
                 </div>
        </div>
        <div class="card-body" id="customer_details_card">
            {% include 'customer/sub_layouts/customer_details_sub.html'  %}
        </div>
    </div>
</div>