{% load static %}
<nav class="navbar navbar-expand-md navbar-light" id="navbar-orders">
    <div class="container-fluid justify-content-end pe-0">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary js-order-customer-create" role="button" data-url="{% url 'api_createorder'  customer_obj.pk  %}" data-dlgsize="modal-sm"><i class="fas fa-shopping-cart"></i> New Order</a>
                <div class="dropdown dropstart">
                    <button class="btn btn-warning " type="button" id="dropdownCustomerOptions"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCustomerOptions">
                        <li><a class="dropdown-item js-customer-edit" role="button"
                               data-url="{% url 'customereditpassword'  customer_obj.pk  %}" data-dlgsize="modal-sm">Set Password</a>
                           </li>
                        <li class="list-group-item-danger">
                            <a class="dropdown-item js-customer-edit" role="button"
                               data-url="" data-dlgsize="modal-sm">Delete</a>
                           </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>




