{% load static %}
<nav class="navbar navbar-expand-md navbar-light" id="navbar-orders">
    <div class="container-fluid justify-content-end pe-0">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-success js-order-customer-create" role="button" data-url="{% url 'api_createorder'  customer_obj.pk  %}" data-dlgsize="modal-sm"><i class="fa-solid fa-shopping-cart"></i> New Order</a>
                <a class="btn {{ BUTTON_ADD }} js-quote-customer-create" role="button" data-url="{% url 'api_createquote'  customer_obj.pk  %}" data-dlgsize="modal-sm"><i class="fa-solid fa-file-invoice"></i> New Quote</a>
                <div class="dropdown dropstart">
                    <button class="btn {{ BUTTON_EXTRA }} " type="button" id="dropdownCustomerOptions"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCustomerOptions">
                        <li><a class="dropdown-item js-customer-edit" role="button"
                               data-url="{% url 'customereditpassword'  customer_obj.pk  %}" data-dlgsize="modal-sm">Set Password</a>
                           </li>

                        <li><a class="dropdown-item js-customer-edit"  role="button" id="js-customer-set-company"
                               data-url="{% url 'customerassigncompany'  customer_obj.pk  %}" data-dlgsize="modal-lg">Assign Company</a>
                           </li>

                        {% if not customer_obj.parent_company %}
                        <li><a class="dropdown-item js-customer-edit" role="button"
                               data-url="{% url 'customer_convert_to_company'  customer_obj.pk  %}" data-dlgsize="modal-md">Convert to Company</a>
                           </li>
                         {% endif %}
                        {% if customer_obj.xero_id %}
                            <li>
                                <a class="dropdown-item js-xero-contact-api" role="button"
                                   data-url="{%  url 'customer_xero_update' customer_obj.pk %}" data-dlgsize="modal-sm">Update Xero - Con</a>
                            </li>
                        {% else %}
                            {% if customer_obj.parent_company %}
                                 {% if customer_obj.parent_company.xero_id %}
                                    <li>
                                        <a class="dropdown-item js-xero-contact-api" role="button"
                                           data-url="{%  url 'company_xero_update' customer_obj.parent_company.pk %}" data-dlgsize="modal-sm">Update Xero - Comp</a>
                                    </li>
                                {% else %}
                                    <li>
                                    <a class="dropdown-item js-xero-contact-api" role="button"
                                       data-url="{%  url 'company_xero_add' customer_obj.parent_company.pk %}" data-dlgsize="modal-sm">Add to Xero - Comp</a>
                                </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a class="dropdown-item js-xero-contact-api" role="button"
                                       data-url="{%  url 'customer_xero_add' customer_obj.pk %}" data-dlgsize="modal-sm">Add to Xero - Con</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    <hr>
                        <li class="list-group-item-danger">
                            <a class="dropdown-item js-customer-edit text-danger" role="button"
                               data-url="{% url 'api_customer_delete' customer_obj.pk %}" data-dlgsize="modal-sm">Delete</a>
                           </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


