{% load static %}
<div class="row col-12">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100 mb-0" id="payment-address">
             <div class="card-header customer_details">
                 <div class="row">
                        <div class="col-9 ">
                            <i class="fas fa-pound-sign "></i> Billing
                                Address
                                {% if customer_address.billing_auto %}
                                    <i class="fas fa-magic fa-wizard"></i>{% endif %}

                        </div>
                        <div class="col-3">
                            <div class="float-end pe-2">

                                {% if customer_address.billing.pk %}
                                    <a class="btn btn-primary btn-xs js-address-edit"
                                       data-url="{% url 'customeraddressedit' customer_obj.customer_id customer_address.billing.pk %}"
                                       role="button"><i class="fas fa-edit fa-pull-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
             </div>
            <div class="card-body ">
                <div id="customer-default-payment-address">
                    {% include 'customer/address_details.html' with address=customer_address.billing %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card h-100 mb-0" id="shipping-address">
            <div class="card-header customer_details">
                <div class="row">
                        <div class="col-9 ">
                            <i class="fas fa-shipping-fast"></i> Shipping
                                Address
                                {% if customer_address.shipping_auto %}
                                    <i class="fas fa-magic fa-wizard"></i>{% endif %}

                        </div>
                        <div class="col-3">
                            <div class="float-end pe-2">

                                {% if customer_address.shipping.pk %}
                                    <a class="btn btn-primary btn-xs js-address-edit"
                                       data-url="{% url 'customeraddressedit' customer_obj.customer_id customer_address.shipping.pk %}"
                                       role="button"><i class="fas fa-edit fa-pull-right"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-body ">


                <div id="customer-default-shipping-address">
                    {% include 'customer/address_details.html' with address=customer_address.shipping %}
                </div>
            </div>
        </div>
    </div>


</div>