{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://webservices.data-8.co.uk/content/predictiveaddress.css" />
{% endblock extra_css %}

{% block content %}

    <div class="wrapper wrapper-content layout-details">
         <div class="row top_bar">
            <div class="col-6">
                <h2>{{ customer_obj.fullname }}
                {% if customer_obj.xero_id %}
                        <a href="https://go.xero.com/app/contacts/contact/{{customer_obj.xero_id}}" target="_blank"><img src="{% get_media_prefix %}stores/3rdpartylogo/Xero_logo.svg" class="img-responsive tsg-thumbnail"
                                        alt="Xero"></a>
                {% elif customer_obj.parent_company.xero_id %}
                        <a href="https://go.xero.com/app/contacts/contact/{{customer_obj.parent_company.xero_id}}" target="_blank"><img src="{% get_media_prefix %}stores/3rdpartylogo/Xero_logo.svg" class="img-responsive tsg-thumbnail"
                                        alt="Xero"></a>
                {% endif %}</h2>
            </div>
            <div class="col-6" id="top_nav_bar">
                {% include 'customer/customer_layout_navbar.html' %}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col">
                {% include 'customer/customer_details.html' %}
            </div>
        </div>
        <div class="row" id="customer-details-tabs">
            <div class="col">
                 <div class="ibox">
                     <div class="ibox-content tsg_navs">
                        <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="orders-tab" data-bs-toggle="tab" href="#tab-orders" role="tab"><i
                                class="fa-solid fa-shopping-cart"></i>  Orders</a>
                    </li>

                            <li>
                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#tab-address" role="tab">
                            <i class="fa-solid fa-map-marker-alt"></i>  Address Book</a>
                    </li>
                            <li>
                        <a class="nav-link" id="quotes-tab" data-bs-toggle="tab" href="#tab-quotes" role="tab"><i
                                class="fa-regular fa-handshake"></i>  Quotes</a>
                    </li>
                    <li>
                        <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#tab-art" role="tab"><i
                                class="fa-regular fa-image"></i>  Artwork</a>
                    </li>

                    <li>
                        <a class="nav-link" id="document-tab" data-bs-toggle="tab" href="#tab-documents" role="tab"><i
                                class="fa-solid fa-folder-open"></i> Documents</a>
                    </li>
                            <li>
                        <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#tab-notes" role="tab"><i class="fa-regular fa-comment"></i> Comments</a>
                    </li>

                </ul>
                        <div class="tab-content">
                    <div role="tabpanel" id="tab-orders" class="tab-pane fade show active">
                        <div class="panel-body">
                            {% include 'customer/previous_orders.html' %}
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-quotes" class="tab-pane fade">
                        <div class="panel-body">
                            {% include 'customer/sub_layouts/previous_quotes.html' %}
                        </div>
                    </div>
                            <div role="tabpanel" id="tab-address" class="tab-pane fade">
                        <div class="panel-body">
                            {% include 'customer/customer_addressbook.html' %}
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-art" class="tab-pane fade">
                        <div class="panel-body">
                            artwork in here
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-documents" class="tab-pane fade">
                        <div class="panel-body" id="div-customer_documents">
                            {% include 'customer/sub_layouts/customer_documents.html' %}
                        </div>
                    </div>
                            <div role="tabpanel" id="tab-notes" class="tab-pane fade">
                        <div class="panel-body">
                            {% include 'customer/sub_layouts/customer_comments.html' %}
                        </div>
                    </div>

                </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}

    <script>
    let customer_id = {{ customer_obj.pk }}
    const static_const = {% get_static_prefix %};
    const media_url = "{% get_media_prefix %}";
    </script>

    <script type="text/javascript" src="https://webservices.data-8.co.uk/javascript/predictiveaddress.js"></script>
    <script type="text/javascript" src="{% static 'js/customer.js' %}"></script>

{% endblock javascript %}



