{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'customer/sub_layouts/customer_list_top_navbar.html' %}
            </div>
        </div>
    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="customers_table" class="table table-hover table-striped align-middle table-sm" >
                                    <thead>
                                    <tr>
                                        <th width="50px">Store</th>
                                        <th>Company</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th width="25px"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block javascript %}



<script>
    $(document).ready(function() {

        $("#js-customer-create").click(loadForm);

    $('#customers_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/customer/api/customerslist/?format=datatables"
             },
        "deferRender": true,
        "order": [[ 6, "desc" ]],
         "search": {
            "regex": true
        },
        columns :[
            {
                data: "store",
                sortable: false,
                render: function ( data, type, row ) {
                    let image_src = '{% get_media_prefix %}' + 'stores/branding/logos/' + data.thumb;
                    return '<img height="20px" src="' + image_src + '">'
                 }
            },
            {data: "company"},
            {data: "fullname"},
            {data: "email"},
            {data: "telephone"},
            {
                data: "customer_id",
                sortable: false,
                render: function ( data, type, row ) {
                     let edit_icon = '<a class="btn '+ button_context['BUTTON_EDIT'] +' btn-tsg-row" role="button" href="details/' + data + '"><i class="' + icons_context['ICON_EDIT'] + ' fa-sm"></i></a>';
                    let delete_icon = '<a class="btn '+ button_context['BUTTON_DELETE'] +' btn-tsg-row" role="button" data-url="' + data + 'delete/' + data + '" data-dlgsize="modal-sm"><i class="' + icons_context['ICON_DELETE'] + ' fa-sm"></i></a>'
                    return edit_icon;
                }
            },
            {
                data: "date_added",
                "visible": false
            },
            {data: "core_postcodes", visible: false}

        ]
    } );
} );



</script>

{% endblock javascript %}