
                    <dl class="row text-nowrap" id="address_{{ address.pk }}">
                        <dt class="col-3">Contact</dt>
                        <dd class="col-9">{{ quote_obj.payment_fullname}}</dd>
                    <dt class="col-3">Email</dt>
                        <dd class="col-9"><a
                                href="mailto:{{ quote_obj.payment_email }}">{{ quote_obj.payment_email }}</a></dd>
                        <dt class="col-3">Phone</dt>
                        <dd class="col-9">{{ quote_obj.payment_telephone|default:"&nbsp;" }}</dd>
                        {% if quote_obj.payment_company %}
                            <dt class="col-3">Company</dt>
                            <dd class="col-9">{{ quote_obj.payment_company }}</dd>
                        {% endif %}
                        <dt class="col-3">Address</dt>
                        <dd class="col-9">
                            <address >
                                {{ quote_obj.payment_address|linebreaksbr  }}<br>
                                 {% if quote_obj.payment_area %}
                                {{ quote_obj.payment_area }}<br>
                                {% endif %}
                                {{ quote_obj.payment_city }}<br>
                                <strong>{{ quote_obj.payment_postcode }}</strong><br>
                                {{ quote_obj.payment_country }}
                            </address>
                        </dd>

                    </dl>
