{% load static %}
<div class="card h-100 mb-0">
             <div class="card-header order_details">
                 <div class="row">
                     <div class="col-9 ">
                         Quote Details
                     </div>
                     <div class="col-3">
                         <div class="float-end">
                             <div class="d-grid gap-2 d-md-flex justify-content-md-end pe-2">
                                <button type="button" class="btn {{ BUTTON_EDIT }} btn-sm js-quote-details-edit"
                                        data-url="{% url 'quotedetailsedit' quote_obj.quote_id %}"
                                        data-dlgsize="modal-lg" id="js-quote-edit"
                                ><i class="{{ ICON_EDIT }} fa-pull-right"></i></button>
                        </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-body">
             <div class="row">
                 <div class="col-12">
                     <dl class="row text-nowrap" id="quote_{{ quote_obj.quote_id }}">
                     {% if quote_obj.customer %}
                         <dt class="col-3 col-lg-2">Company</dt>
                         {% if quote_obj.customer.company %}
                              <dd class="col-9 col-lg-10"><a href="{% url 'customerdetails' quote_obj.customer.customer_id %}">{{ quote_obj.customer.company }}</a>
                             {% if quote_obj.customer.parent_company %}
                                 <br/> ( part of: <a href="{% url 'company_details' quote_obj.customer.parent_company.company_id %}">{{ quote_obj.customer.parent_company.company_name }}</a> )
                             {% endif %}
                              </dd>
                         {% else %}
                             {% if quote_obj.customer.parent_company %}
                                <dd class="col-9 col-lg-10">part of: <a href="{% url 'company_details' quote_obj.customer.parent_company.company_id %}">{{ quote_obj.customer.parent_company.company_name }}</a>
                             {% else %}
                                 <dd class="col-9"></dd>
                             {% endif %}

                         {% endif %}
                             <dt class="col-3 col-lg-2">Contact</dt><dd class="col-9"><a href="{% url 'customerdetails' quote_obj.customer.customer_id  %}">{{ quote_obj.customer.fullname }}</a></dd>
                     {% else %}
                         {% if quote_obj.company %}
                              <dt class="col-3 col-lg-2">Company</dt><dd class="col-9"><a href="{% url 'customerdetails' quote_obj.customer_id %}">{{ quote_obj.company }}</a></dd>
                         {% endif %}
                          <dt class="col-3 col-lg-2">Contact</dt><dd class="col-9">{{ quote_obj.fullname }}</dd>
                     {% endif %}
                     <dt class="col-3 col-lg-2">Email:</dt>
                     <dd class="col-9 col-lg-10">{{ quote_obj.email }}</dd>
                     <dt class="col-3 col-lg-2">Telphone:</dt>
                     <dd class="col-9 col-lg-10">{{ quote_obj.telephone }}</dd>
                     {% if quote_obj.quote_ref %}
                         <dt class="col-3 col-xl-2">Reference:</dt>
                         <dd class="col-9 col-xl-10">{{ quote_obj.quote_ref }}</dd>
                     {% endif %}
                 <dt class="col-3 col-lg-2">Date:</dt>
                     <dd class="col-9 col-lg-10">{{ quote_obj.date_added }}</dd>
                         <dt class="col-3 col-lg-2">Valid For:</dt>
                     <dd class="col-9 col-lg-10">{{ quote_obj.days_valid }} days (
                         {% if quote_obj.is_past_valid %} <span class="text-danger">
                         {% else %}   <span class="text-success">
                         {% endif %} {{ quote_obj.valid_until }} </span> )</dd>
                     <dt class="col-3 col-lg-2">Shipping:</dt>
                     <dd class="col-9 col-lg-10">{{ quote_obj.shipping_type }} ( {{ quote_obj.currency.symbol_left }}{{ quote_obj.shipping_type.price }} )</dd>
                     <dt class="col-3 col-lg-2">Status:</dt>
                     <dd class="col-9 col-lg-10">
                         {% if quote_obj.sent %}SENT
                         {% else %}
                     OPEN
                     {% endif %}</dd>
                     </dl>
                 </div>
             </div>

             </div>
         </div>
