{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="wrapper wrapper-content layout-details">
    <div class="ibox">
        <div class="ibox-content">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
                <div class="row">
                    <div class="col-6 col-md-4">{{ form.store_id|as_crispy_field }}</div>
                    <div class="col-3 col-md-2">{{ form.sort_order|as_crispy_field }}</div>
                    <div class="col-3 col-md-2">{{ form.status|as_crispy_field }}</div>
                    <div class="col-6 col-md-2">{{ form.date_start|as_crispy_field }}</div>
                    <div class="col-6 col-md-2">{{ form.date_end|as_crispy_field }}</div>
                </div>
                <hr>
                <div class="row">
                    {# Rendered without crispy: its file-input markup builds the (broken) .url link itself #}
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                        {{ form.image }}
                        {% for error in form.image.errors %}<div class="text-danger small">{{ error }}</div>{% endfor %}
                        <div class="form-text">{{ form.image.help_text }}</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label" for="{{ form.image_mobile.id_for_label }}">{{ form.image_mobile.label }}</label>
                        {{ form.image_mobile }}
                        {% for error in form.image_mobile.errors %}<div class="text-danger small">{{ error }}</div>{% endfor %}
                        <div class="form-text">{{ form.image_mobile.help_text }}</div>
                    </div>
                    <div class="col-12">{{ form.alt_text|as_crispy_field }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">{{ form.tag|as_crispy_field }}</div>
                    <div class="col-12 col-md-8">{{ form.title|as_crispy_field }}</div>
                    <div class="col-12">{{ form.subtitle|as_crispy_field }}</div>
                    <div class="col-12 col-md-6">{{ form.link|as_crispy_field }}</div>
                    <div class="col-6 col-md-3">{{ form.button_text|as_crispy_field }}</div>
                    <div class="col-6 col-md-3">{{ form.button_style|as_crispy_field }}</div>
                    <div class="col-12 col-md-4">{{ form.text_align|as_crispy_field }}</div>
                    <div class="col-6 col-md-4">{{ form.bg_from|as_crispy_field }}</div>
                    <div class="col-6 col-md-4">{{ form.bg_to|as_crispy_field }}</div>
                    <div class="col-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn {{ BUTTON_CANCEL }}" href="{% url 'banners' %}">Cancel</a>
                            <button type="submit" class="btn {{ BUTTON_ADD }}">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
