{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
   <!-- old datatables css -->
   <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock extra_css %}

{% block content %}
    <div class="wrapper wrapper-content layout-details">
        <div class="row top_bar align-middle">
            <div class="col-4 col-lg-4">
                <h2>{{ order_obj.store.prefix }}-<a id="js-order-number"
                        href="javascript: copy_orderno_to_clipboard({{ order_obj.order_id }})">{{ order_obj.order_id }}</a>
                    <img src="{% get_media_prefix %}stores/branding/logos/{{ order_obj.store.thumb }}" class="img-responsive tsg-thumbnail"
                         alt="{{ order_obj.store.name }}">
                    {% if order_obj.xero_id %}
                        <a href="https://go.xero.com/app/invoicing/view/{{order_obj.xero_id}}" target="_blank"><img src="{% get_media_prefix %}stores/3rdpartylogo/Xero_logo.svg" class="img-responsive tsg-thumbnail"
                                        alt="Xero"></a>
                    {% endif %}
                </h2>
            </div>
            <div class="col-3 col-lg-3 align-middle" id="div_order_flags">
                {% include 'orders/sub_layout/order_flags.html' %}
            </div>
            <div class="col-5 col-lg-5">
                {% include 'orders/order_layout_navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col pe-0">
                {% include 'orders/order_layout_details.html' %}
            </div>
        </div>
        <div class="row" id="order-details-tabs">
            <div class="col">
                <div class="ibox">
                    <div class="ibox-content tsg_navs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="products-tab" data-bs-toggle="tab" href="#tab-products"
                                   role="tab">
                                    <i class="fa-solid fa-list"></i> Products</a>
                            </li>
                            <li>
                                <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#tab-history"
                                   role="tab">
                                    <i class="fa-solid fa-history"></i> History</a>
                            </li>
                            <li>
                                <a class="nav-link" id="art-tab" data-bs-toggle="tab" href="#tab-art" role="tab"><i
                                        class="fa-regular fa-image"></i> Artwork</a>
                            </li>

                            <li>
                                <a class="nav-link" id="document-tab" data-bs-toggle="tab" href="#tab-documents"
                                   role="tab"><i
                                        class="fa-solid fa-folder-open"></i> Documents</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-products" class="tab-pane fade show active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12" id="order_products_table">
                                            {% include 'orders/order_products.html' %}
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-6 border">
                                            <h6>Customer Order Notes: </h6>
                                            <span id="order_comment">{{ order_obj.comment|linebreaksbr|safe }}</span>
                                        </div>
                                        <div class="col-12 col-md-4 text-end order-first order-md-last">
                                            {% include 'orders/order_totals.html' %}
                                            <span id="order_product_summary"><strong>{{ order_lines }}</strong> Lines and <strong>{{ order_product_count }}</strong> products
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-history" class="tab-pane fade">
                            <div class="panel-body">
                                {% include 'orders/sub_layout/order_history.html' %}
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-art" class="tab-pane fade">
                            <div class="panel-body">
                                artwork in here
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-documents" class="tab-pane fade">
                            <div class="panel-body" id="div-order_documents">
                                {% include 'orders/sub_layout/order_documents.html' %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}


    <script>
        //setup up the product ID so that products.js can get the value
        const current_order_id = {{ order_obj.order_id }} ;
        const currency_symbol = '{{ order_obj.store.currency.symbol_left }}' ;
        let tax_rate = 0.00;
        let bulk_table_data = [];
        const media_url = "{% get_media_prefix %}";

    </script>
    <script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/product_variant_options.js' %}"></script>



{% endblock javascript %}



