{% load static %}
<nav class="navbar navbar-expand-md navbar-light pe-0" id="navbar-orders">
    <div class="container-fluid justify-content-end pe-0">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <div class="btn-group">

                    <button type="button" class="btn btn-success" id="dropdownMenuPrint"><i class="fa-solid fa-print"></i> Print
                    </button>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>

                    <div class="dropdown-menu px-2" aria-labelledby="dropdownMenuPrint">
                        <form  id="form-order-print" action="/paperwork/order/{{ order_obj.store.prefix }}-{{ order_obj.order_id }}" target="_blank" method="post">
                        {% csrf_token %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="print_picklist" name="print_picklist" value=1 checked>
                            <label class="form-check-label" for="print_picklist">
                                PickList
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="print_shipping" name="print_shipping" value=1 checked>
                            <label class="form-check-label" for="print_shipping">
                                Shipping
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="print_invoice" name="print_invoice" value=1 >
                            <label class="form-check-label" for="print_invoice">
                                Invoice
                            </label>
                        </div>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="print_collection" name="print_collection" value=1 >
                            <label class="form-check-label" for="print_collection">
                                Collection
                            </label>
                        </div>
                            <hr>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox"  id="print_shipped" name="print_shipped" value=0 >
                            <label class="form-check-label" for="print_shipped">
                                Exclude shipped
                            </label>
                        </div>
                            </form>
                    </div>

                </div>

                <a class="btn btn-success js-order-ship-it" role="button" data-url="{% url 'ordershipit' order_obj.order_id %}" data-dlgsize="modal-lg"><i class="fa-solid fa-shipping-fast"></i> Ship</a>
                <a class="btn {{ BUTTON_ADD }} js-order-product-edit" role="button" data-url="{% url 'orderproductadd' order_obj.order_id %}" data-dlgsize="modal-xl"><i class="fa-solid fa-box-open"></i> Add Product</a>
                <div class="dropdown dropstart">
                    <button class="btn {{ BUTTON_EXTRA }} " type="button" id="dropdownOrderOptions"
                            data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class="fa-solid fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownOrderOptions">
                        <li><a class="dropdown-item" href="#">E-Mail</a></li>
                        {% if not order_obj.customer %}
                             <li><a class="dropdown-item" href="#">Convert to Customer</a></li>
                        {% else %}
                            <li><a class="dropdown-item js-order-customer-create" role="button" data-url="{% url 'api_createorder'  order_obj.customer.pk  %}" data-dlgsize="modal-sm">New Order</a></li>
                            <li>
                            <a class="dropdown-item js-order-product-edit" role="button"
                               data-url="{% url 'orderduplicatedlg' order_obj.order_id %}" data-dlgsize="modal-sm">Duplicate</a>
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item js-order-product-edit" role="button"
                               data-url="{% url 'ordertaxchange' order_obj.order_id %}" data-dlgsize="modal-sm">Tax Rate</a>
                           </li>
                        <li><a class="dropdown-item js-order-shipping-choice-edit" role="button"
                               data-url="{% url 'ordershippingchange' order_obj.order_id %}" data-dlgsize="modal-sm">Shipping Rate</a>
                           </li>
                        <li>
                            <a class="dropdown-item js-order-product-edit" role="button"
                               data-url="{% url 'orderdiscountchange' order_obj.order_id %}" data-dlgsize="modal-sm">Discount</a>
                        </li>

                        <li class="list-group-item-danger">
                            <a class="dropdown-item js-order-product-edit" role="button"
                               data-url="{% url 'orderdeletedlg' order_obj.order_id %}" data-dlgsize="modal-sm">Delete</a>
                           </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>




