{% load static %}
 <table id="order_product_list" class="table table-hover table-sm table-striped"
        style="width:100%">
     <thead>
     <tr>
         <th>Code</th>
         <th width="100px">Image</th>
         <th>Name</th>
         <th>Size</th>
         <th>Material</th>
         <th>Options</th>
         <th>Status</th>
         <th>Qty</th>
         <th>{{ order_obj.store.currency.symbol_left }}/Unit</th>
         <th>Line {{ order_obj.store.currency.symbol_left }}</th>
         <th width="100px" ></th>
     </tr>
     </thead>
 </table>



