{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock extrahead %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
     <div class="wrapper wrapper-content layout-details">

        <form method="post" action="">
            {{ form.media }}
            {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-10">{{ form.group_name|as_crispy_field }}</div>
                        <div class="col-2">{{ form.is_active|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="ibox">
                                <div class="ibox-content">
                                <table id="bulk_group_breaks_table" class="table table-hover table-striped align-middle table-sm"
                                               style="width:100%">
                                    <thead>
                                            <tr>
                                                <th class="col-10">Min Range</th>
                                                <th width="25px">Discount</th>
                                                <th class="text-end col-1">&nbsp</th>
                                            </tr>
                                    </thead>
                                </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="{% url 'allbulks' %}" class="btn {{ BUTTON_CANCEL }} " role="button">Cancel</a>
                                <button type="submit" id="update" class="btn {{ BUTTON_UPDATE }} pull-right">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
     </div>
{% endblock content %}

{% block javascript %}

    <script>
       $(document).ready(function() {


    if ( $.fn.dataTable.isDataTable( '#bulk_group_breaks_table' ) ) {
        let bulk_group_breaks_table = $('#bulk_group_breaks_table').DataTable();
    }
    else {
        let bulk_group_breaks_table = $('#bulk_group_breaks_table').DataTable({
            "dom": "<'row'<'col-sm-6'><'col-sm-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-6'><'col-sm-6'>>",
            "processing": true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 25,
            "autoWidth": false,
            "responsive": true,
            "ajax": {
                "processing": true,
                "url": "/bulk/api/bulkgroup/{{ bulk_group_obj.bulk_group_id }}/breaks?format=datatables"

            },
            "deferRender": false,
            "search": {
                "regex": true
            },
            "rowId" : 'bulk_breaks_id',
            "order": [[1, "asc"]],
            columns: [
                {data: "qty_range_min"},
                {data: "discount_percent"},
                {
                    data: "bulk_breaks_id",
                    sortable: false,
                    className: 'text-md-end text-start',
                    render: function (data, type, row) {
                        let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-sm " href="/bulk/' + data + '/edit" role="button" ><i class="{{ ICON_EDIT }} fa-sm"></i></a>';
                        let delete_icon = '<a class="btn {{ BUTTON_DELETE }} btn-sm js-options-edit" data-url="/bulk/' + data + '/delete" role="button" ><i class="{{ ICON_DELETE }} fa-sm"></i></a>';
                        return edit_icon + " " + delete_icon
                    }
                },
            ]
        });
    };


} );
    </script>




{% endblock javascript %}