{% load static %}
<nav class="navbar navbar-expand-md navbar-light" id="navbar-orders">
    <div class="container-fluid justify-content-end pe-0">
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn {{ BUTTON_ADD }} btn-sm js-supplier-new-dlg"
                                        data-url="{% url 'supplier_create' %}"
                                        data-dlgsize="modal-xl"
                                ><i class="fa-solid fa-user-plus"></i> New Supplier</button>
            </div>
        </div>
    </div>
</nav>







