.no-padding {
  padding: 0 !important;
}
.no-borders {
  border: none !important;
}
.no-margins {
  margin: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
table.table-mail tr td {
  padding: 12px;
}
.table-mail .check-mail {
  padding-left: 20px;
}
.table-mail .mail-date {
  padding-right: 20px;
}
.star-mail,
.check-mail {
  width: 40px;
}
.unread td a,
.unread td {
  font-weight: 600;
  color: inherit;
}
.read td a,
.read td {
  font-weight: normal;
  color: inherit;
}
.unread td {
  background-color: #f9f8f8;
}
.ibox-content {
  clear: both;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
}
.ibox-title .label {
  margin-left: 4px;
}
.ibox-title .pull-right {
  position: absolute;
  right: 15px;
  top: 15px;
}
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  text-align: right;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4 !important;
}
.ibox-tools a.btn-primary {
  color: #fff !important;
}
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
  color: #676a6c !important;
}
.ibox .ibox-tools.open > .dropdown-menu {
  left: auto;
  right: 0;
}
.ibox-tools .dropdown-toggle::after {
  display: none;
}

.medusa-background {
  background: url('/static/authentication/images/medusa_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}

.loginscreen.middle-box {
  width: 300px;
}

#tsg-login .card {


}

#tsg-login .card-header {
   background-color: black;
  opacity: 0.9;
}

#tsg-login .card-body {
  background-color: white;
   opacity: 0.9;
}



 .dataTables_filter {
    float:left !important;
}

 .dataTables_filter input { width: 300px }

  .dataTables_length {
    float:right !important;
}


#customer-details-tabs {
    padding-top: 20px;
}

#customer-details-tabs .nav-tabs {
    margin-bottom: 10px;
    border-bottom: 3px solid #ffd011;
}

#customer-details-tabs .nav-link {
    color: black;
    border: transparent;
}
#customer-details-tabs .nav-link:hover {
    border: transparent;
    border-bottom: 3px solid #E50004;
    transition:  border-bottom .3s ease-in;

}

#customer-details-tabs .nav-link.active{
    border: none;
    border-bottom: 3px solid #E50004;
}


.customer-details .card {
    font-size: 11px;
}

.fa-wizard {
  color: #E50004;
}

.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}