{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}

    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="prices_table" class="table table-hover table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Material</th>
                                        <th>Price (£)</th>
                                        <th width="30px" class="float-end">&nbsp</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block javascript %}

        <script type="text/javascript" src="{% static 'libs/tsg_datatables/datatables.js' %}"></script>

<script>
    $(document).ready(function() {

    $('#prices_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": true,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/pricing/api/prices/?format=datatables"
             },
        "deferRender": true,
         "search": {
            "regex": true
        },
        columns :[

            {data: "product_size.size_name"},
            {data: "product_material.material_name"},
            {data: "price"},
            {
                data: null,
                sortable: false,
                className: 'text-end',
                render: function ( data, type, row ) {
                let edit_icon = '<a class="btn btn-primary btn-sm" role="button" href="' + row['id'] + '/edit"><i class="fas fa-edit fa-sm"></i></a>';
                let delete_icon = '<a class="btn btn-danger btn-sm" role="button" href="delete/' + row['id'] + '"><i class="fas fa-trash fa-sm"></i></a>'
                return delete_icon + "  " + edit_icon;
                }
            }

        ]
    } );
} );
</script>

{% endblock javascript %}