{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'options/sub_layout/group_top_navbar.html' %}
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="option_group_table" class="table table-hover table-sm table-striped"
                                       style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-2">Name</th>
                            <th class="col-9">Description</th>
                            <th class="text-end" width="100px">&nbsp;</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


{% block javascript %}

    <script type="text/javascript" src="{% static 'js/options.js' %}"></script>

    <script>
       $(document).ready(function() {

    $('#option_group_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/options/api/groups/?format=datatables"
             },
        "deferRender": false,
         "search": {
            "regex": true
        },
        "order": [[ 1, "asc" ]],
        columns :[
            {data: "name"},
            {data: "description"},
            {
                data: "id",
                sortable: false,
                className: 'text-md-end text-start',
                render: function ( data, type, row ) {
                 let edit_icon = '<a class="btn btn-primary btn-sm js-order-product-edit" href="group/'+data+'" role="button" ><i class="fas fa-edit fa-sm"></i></a>';
                let delete_icon = '<a class="btn btn-danger btn-sm js-options-edit" data-url="group/delete/'+data+'" role="button" ><i class="fas fa-trash fa-sm"></i></a>';
                return edit_icon + " " + delete_icon
                }
            },
        ]
    } );


} );
    </script>


{% endblock javascript %}

