{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'options/sub_layout/value_top_navbar.html' %}
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table id="option_value_table" class="table table-hover table-sm table-striped"
                                       style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-2">Title</th>
                            <th class="col-2">Type</th>
                            <th class="col-3">Dropdown</th>
                            <th class="col-4">Value Type</th>
                            <th class="col-1">Show at Checkout</th>
                            <th width="50px" class="text-end">&nbsp;</th>
                        </tr>
                        </thead>
                    </table>


                </div>
            </div>
        </div>
    </div>






{% endblock content %}

{% block javascript %}

            <script>
       $(document).ready(function() {

    $('#option_value_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/options/api/values/?format=datatables"
             },
        "deferRender": false,
         "search": {
            "regex": true
        },
        columns :[
            {data: "title"},
            {data: "option_type.name"},
            {data: "dropdown_title"},
            {data: "option_type.descr"},
            {data: "show_at_checkout",
                render: function (data, type, row) {
                    if (data == 1) {
                        return '<span class="badge rounded-pill badge-soft-success font-size-14">YES</span>'
                    } else {
                        return '<span class="badge rounded-pill badge-soft-danger font-size-14">NO</span>'
                    }

                }
            },
            {
                data: "id",
                sortable: false,
                render: function ( data, type, row ) {
                 let edit_icon = '<a class="btn btn-primary btn-sm js-order-product-edit" href="values/'+data+'" role="button" ><i class="fas fa-edit fa-sm"></i></a>';
                return edit_icon;
                }
            },
        ]
    } );


} );
    </script>

{% endblock javascript %}