{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table id="option_type_table" class="table table-hover table-sm table-striped">
                        <thead>
                        <tr>
                            <th class="col-2">Name</th>
                            <th class="col-10">Description</th>
                            <th width="50px" class="text-end">&nbsp;</th>
                        </tr>
                        </thead>
                    </table>


                </div>
            </div>
        </div>
    </div>






{% endblock content %}

{% block javascript %}

        <script>
       $(document).ready(function() {

    $('#option_type_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/options/api/types/?format=datatables"
             },
        "deferRender": false,
         "search": {
            "regex": true
        },
        columns :[
            {data: "name"},
            {data: "descr"},
            {
                data: "option_type_id",
                sortable: false,
                render: function ( data, type, row ) {
                 let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-sm js-order-product-edit" href="types/'+data+'" role="button" ><i class="{{ ICON_EDIT }} fa-sm"></i></a>';
                return edit_icon;
                }
            },
        ]
    } );


} );
    </script>

{% endblock javascript %}