{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
   <!-- old datatables css -->
{% endblock extra_css %}

{% block content %}
    <div class="wrapper wrapper-content layout-details">
        <div class="row top_bar ">
            <div class="col-6 col-lg-6">
                <h2>Quote - {{ quote_obj.quote_id }}
                    <img src="{% get_media_prefix %}stores/branding/logos/{{ quote_obj.store.thumb }}" class="img-responsive"
                         alt="{{ quote_obj.store.name }}">
                    {% if quote_obj.sent %}
                     <span class="badge rounded-p badge-soft-success font-size-14">SENT</span>
                         {% else %}
                     <span class="badge rounded-pill badge-soft-warning font-size-14">OPEN</span>
                     {% endif %}
                    </h2>
            </div>

            <div class="col-6 col-lg-6">
                {% include 'quotes/sub_layout/quote_navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col pe-0">
                {% include 'quotes/sub_layout/quote_details.html' %}
            </div>
        </div>
        <div class="row" id="quote-details-tabs">
            <div class="col">
                <div class="ibox">
                    <div class="ibox-content tsg_navs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="products-tab" data-bs-toggle="tab" href="#tab-products"
                                   role="tab">
                                    <i class="fa-solid fa-list"></i> Products</a>
                            </li>
                            <li>
                                <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#tab-history"
                                   role="tab">
                                    <i class="fa-solid fa-history"></i> History</a>
                            </li>
                            <li>
                                <a class="nav-link" id="art-tab" data-bs-toggle="tab" href="#tab-art" role="tab"><i
                                        class="fa-regular fa-image"></i> Artwork</a>
                            </li>

                            <li>
                                <a class="nav-link" id="document-tab" data-bs-toggle="tab" href="#tab-documents"
                                   role="tab"><i
                                        class="fa-solid fa-folder-open"></i> Documents</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-products" class="tab-pane fade show active">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12" id="quote_products_table">
                                            {% include 'quotes/sub_layout/quote_products.html' %}
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col-12 col-md-6 border">
                                            <h6>Notes: </h6>
                                            <span id="quote_comment">{{ quote_obj.comment|linebreaksbr }}</span>
                                        </div>
                                        <div class="col-12 col-md-4 text-end quote-first quote-md-last">
                                            {% include 'quotes/sub_layout/quote_summary_total.html' %}
                                            <span id="quote_product_summary"><strong>{{ quote_lines }}</strong> Lines and <strong>{{ quote_product_count }}</strong> products
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-history" class="tab-pane fade">
                            <div class="panel-body">
                                history in here
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-art" class="tab-pane fade">
                            <div class="panel-body">
                                artwork in here
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-documents" class="tab-pane fade">
                            <div class="panel-body">
                                documents in here
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}


    <script>
        //setup up the product ID so that products.js can get the value
        const current_quote_id = {{ quote_obj.quote_id }} ;
        const currency_symbol = '{{ quote_obj.store.currency.symbol_left }}' ;
        let tax_rate = 0.00;
        let bulk_table_data = [];

    </script>
    <script type="text/javascript" src="{% static 'js/quotes.js' %}"></script>



{% endblock javascript %}



