{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
   <!-- old datatables css -->
{% endblock extra_css %}

{% block content %}
    <div class="wrapper wrapper-content layout-details">
        <div class="row top_bar">
            <div class="col-6 col-lg-4">
                <h2>{{ company_obj.company_name }} <i class="{{ company_obj.status.status_image}}"></i></h2>
            </div>
            <div class="col-2 col-lg-4">

            </div>
            <div class="col-4 col-lg-4">
                {% include 'company/sub_layout/company_details_top_navbar.html' %}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12 col-sm-6 pe-0" id="card_company_main_contact">
                 {% include 'company/sub_layout/company_main_contact.html' %}
            </div>
            <div class="col-12 col-sm-6 ">
                 {% include 'company/sub_layout/company_account_details.html' %}
            </div>
        </div>
        <div class="row" id="company-details-tabs">
            <div class="col">
                <div class="ibox">
                    <div class="ibox-content tsg_navs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="orders-tab" data-bs-toggle="tab" href="#tab-orders"
                                   role="tab">
                                    <i class="fa-solid fa-list"></i> Orders</a>
                            </li>
                            <li>
                                <a class="nav-link" id="contacts-tab" data-bs-toggle="tab" href="#tab-contacts"
                                   role="tab">
                                    <i class="fa-solid fa-user"></i> Contacts</a>
                            </li>
                            <li>
                                <a class="nav-link" id="addressbook-tab" data-bs-toggle="tab" href="#tab-addressbook"
                                   role="tab">
                                    <i class="fa-solid fa-map-marker-alt"></i> Address Book</a>
                            </li>
                            <li>
                                <a class="nav-link" id="art-tab" data-bs-toggle="tab" href="#tab-art" role="tab"><i
                                        class="fa-regular fa-image"></i> Artwork</a>
                            </li>

                            <li>
                                <a class="nav-link" id="document-tab" data-bs-toggle="tab" href="#tab-documents"
                                   role="tab"><i
                                        class="fa-solid fa-folder-open"></i> Documents</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-orders" class="tab-pane fade show active">
                                <div class="panel-body">
                                    {% include 'company/sub_layout/orders_list.html' %}
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-contacts" class="tab-pane fade">
                            <div class="panel-body">
                                {% include 'company/sub_layout/customers_list.html' %}
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-addressbook" class="tab-pane fade">
                            <div class="panel-body">
                                {% include 'company/sub_layout/company_addressbook.html' %}
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-art" class="tab-pane fade">
                            <div class="panel-body">
                                artwork in here
                            </div>
                        </div>
                            <div role="tabpanel" id="tab-documents" class="tab-pane fade">
                            <div class="panel-body" id="div-company_documents">
                                {% include 'company/sub_layout/company_documents.html' %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascript %}


    <script>
        //setup up the product ID so that products.js can get the value
        const current_company_id = {{ company_obj.company_id }} ;
        let tax_rate = 0.00;
        const static_const = {% get_static_prefix %};
        const media_url = "{% get_media_prefix %}";


    </script>

    <script type="text/javascript" src="{% static 'js/company.js' %}"></script>

{% endblock javascript %}



