{% load static %}<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign designer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Barlow+Semi+Condensed:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'recreate/designer/sign-designer.css' %}">
</head>
<body>
  {{ config|json_script:"sign-designer-config" }}
  <div id="app"></div>
  <script type="module" src="{% static 'recreate/designer/sign-designer.js' %}"></script>
</body>
</html>
