{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}

    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="product_table" class="table table-hover table-striped align-middle table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th width="50px">Image</th>
                                        <th class="col-2">Code</th>
                                        <th class="col-4">Name</th>
                                        <th class="col-auto">Title</th>
                                        <th width="25px">Status</th>
                                        <th class="text-end col-1">&nbsp;</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block javascript %}


    <script>
    $(document).ready(function() {

    if ( $.fn.dataTable.isDataTable( '#product_table' ) ) {
        let product_table = $('#product_table').DataTable();
    }
    else {
        let product_table = $('#product_table').DataTable({
            "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "processing": true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 25,
            "autoWidth": false,
            "responsive": true,
            "serverSide": true,
            "rowId": 'product_id',
            "ajax": {
                "processing": true,
                "url": "/products/api/post-list/products/0/?format=datatables",
                "type": "GET",
                "beforeSend": function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token|escapejs }}");
                }
            },
            "deferRender": true,
            "order": [[7, "asc"]],
            "search": {
                "regex": true
            },
            columns: [

                {
                    data: "image_url",
                    name: "thumbnail",
                    searchable: "false",
                    sortable: "false",
                    render: function (data, type, row, meta) {
                        return '<img class="rounded mx-auto d-block product-thumb" src="' + data + '">';
                    }
                },
                {data: "model"},
                {
                    data: "productdescbase.name",
                },
                {data: "productdescbase.title"},
                {
                    data: "status",
                    name: "viewstatus",
                    searchable: "false",
                    render: function (data) {
                        if (data == 1) {
                        return '<span class="badge rounded-pill badge-soft-success font-size-14">LIVE</span>'
                    } else {
                        return '<span class="badge rounded-pill badge-soft-danger font-size-14">OFF-LINE</span>'
                    }
                    }
                },
                {
                    data: "product_id",
                    sortable: false,
                    className: 'text-end',
                    render: function (data, type, row) {

                        let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-tsg-row" role="button" href="' + data + '"><i class="{{ ICON_EDIT }} fa-sm"></i></a>';
                        let delete_icon = '<a class="btn btn-danger btn-tsg-row" role="button" href="delete/' + row['id'] + '"><i class="{{ ICON_DELETE }} fa-sm"></i></a>'


                        return /*delete_icon + "  " +*/ edit_icon;
                        ;
                    }
                },
                {
                    data: "productdescbase.description",
                    "visible": false
                },
                {
                    data: "product_id",
                    "visible": false
                },
                {
                    data: "corevariants",
                    name: "corevariants.supplier_code",
                    "visible": false
                }


            ]
        });
    }




} );



</script>

{% endblock javascript %}

