{% load static %}
<nav class="navbar navbar-expand-md navbar-light" id="navbar-productss">
    <div class="container-fluid justify-content-end pe-0">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary">Clone</button>
                <button type="button" class="btn btn-success">Edit</button><div class="dropdown dropstart">
                    <button class="btn btn-warning " type="button" id="dropdownCustomerOptions"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCustomerOptions">
                        <li><a class="dropdown-item js-customer-edit" role="button"
                               data-url="" data-dlgsize="modal-sm">Set Password</a>
                           </li>
                        <li><a class="dropdown-item" role="button" id="js-customer-set-company"
                               data-url="" data-dlgsize="modal-sm">Assign Company</a>
                           </li>
                        <li class="list-group-item-danger">
                            <a class="dropdown-item js-customer-edit" role="button"
                               data-url="" data-dlgsize="modal-sm">Delete</a>
                           </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>








<div class="float-end mb-3">


</div>