{% load crispy_forms_tags %}
{% load static %}

<form method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Create Size</h5>
     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">

  <div class="row">
                <div class="col-md-6">{{ form.size_name|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.size_width|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.size_height|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.size_units|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.orientation|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.size_code|as_crispy_field }}</div>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="update" class="btn btn-primary pull-right">Create</button>
                    </div>
                </div>
            </div>

</form>