{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock extrahead %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

        <form method="post" action="{% url 'create_size' %}">
            {{ form.media }}
            {% csrf_token %}





  <div class="row">
                <div class="col-md-5">{{ form.size_width|as_crispy_field }}</div>
                <div class="col-md-5">{{ form.size_height|as_crispy_field }}</div>
                <div class="col-md-2">{{ form.size_units|as_crispy_field }}</div>
                <div class="col-md-5">{{ form.size_name|as_crispy_field }}</div>
                <div class="col-md-5">{{ form.orientation|as_crispy_field }}</div>
                <div class="col-md-2">{{ form.size_code|as_crispy_field }}</div>
                <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn {{ BUTTON_CANCEL }} " onclick="location.href='{{ return_url }}'">Cancel</button>
                        <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Add</button>
                    </div>
                </div>
            </div>
  </div>

        </form>
{% endblock content %}

{% block javascript %}



<script>
    $('#id_size_width').on('change', function() {
       setName()

    });
     $('#id_size_height').on('change', function() {
       setName()

    });

    function setName(){
        size_units = $('#id_size_width').val()
        height_name = $('#id_size_height').val()
        units = $('#id_size_units').val()
        let new_name = size_units + units + " x " + height_name + units
        $('#id_size_name').val(new_name)
    }

</script>


{% endblock javascript %}