{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock extrahead %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

        <form method="post" >
            {{ form.media }}
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">{{ form.title|as_crispy_field }}</div>
                        <div class="col-12">{{ form.code|as_crispy_field }}</div>
                    </div>
                </div>
                <div class="col-md-6">{{ form.description|as_crispy_field }}</div>
                <div class="col-md-3">{{ form.method_type|as_crispy_field }}</div>
                <div class="col-md-3">{{ form.price|as_crispy_field }}</div>
                <div class="col-md-3">{{ form.lower_range|as_crispy_field }}</div>
                <div class="col-md-3">{{ form.upper_range|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.store|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.iso|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.orderby|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.status|as_crispy_field }}</div>

                <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn {{ BUTTON_CANCEL }} " onclick="location.href='{% url 'allmethods' %}'">Cancel</button>
                        <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">{{ submit_text }}</button>
                    </div>
                </div>
            </div>
  </div>

        </form>
{% endblock content %}

{% block javascript %}



<script>
    $('#id_size_width').on('change', function() {
       setName()

    });
     $('#id_size_height').on('change', function() {
       setName()

    });

    function setName(){
        size_units = $('#id_size_width').val()
        height_name = $('#id_size_height').val()
        units = $('#id_size_units').val()
        let new_name = size_units + units + " x " + height_name + units
        $('#id_size_name').val(new_name)
    }

</script>


{% endblock javascript %}