{% load static %}
<nav class="navbar navbar-expand-md navbar-light pe-0" id="navbar-category_details">
    <div class="container-fluid justify-content-end pe-0">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">


                <a class="btn btn-success js-order-ship-it" href="{% url 'categorystoreparentadd' category_obj.id %}" ><i class="fa-solid fa-folder-tree"></i> Add Store Structure</a>
                <div class="dropdown dropstart">
                    <button class="btn {{ BUTTON_EXTRA }} " type="button" id="dropdownOrderOptions"
                            data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"><i class="fa-solid fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownOrderOptions">


                        <li class="list-group-item-danger">
                            <a class="dropdown-item js-order-product-edit" role="button"
                               data-url="" data-dlgsize="modal-sm">Delete</a>
                           </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>




