{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" action="{% url 'categorystoreparentadd' category_id %}">
        {% csrf_token %}
        <input type="hidden" name="parent_id" id="parent_id" value="">
        <h1>{{ category.name }}</h1>
        {{ form.category|as_crispy_field }}
        {{ form.parent|as_crispy_field }}
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">{{ form.sort_order|as_crispy_field }}</div>
                                <div class="col-12">{{ form.status|as_crispy_field }}</div>
                                <div class="col-12">{{ form.top|as_crispy_field }}</div>
                                <div class="col-12">{{ form.homepage|as_crispy_field }}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3>Choose the parent for this category</h3>
                                <table id="category_parents_table"
                                       class="table table-hover table-striped align-middle table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn {{ BUTTON_CANCEL }} "
                                        onclick="location.href='{{ return_url }}'">Cancel
                                </button>
                                <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script>

        $(function () {
            var cat_parent_table = $('#category_parents_table').DataTable({
                "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 25,
                "autoWidth": true,
                "responsive": false,
                "serverSide": false,
                "scrollY": "500px",
                "processing": true,
                "scrollCollapse": true,
                "ajax": {
                    "processing": true,
                    "url": "/category/api/storecats/{{ category.store_id }}?format=datatables"
                },
                "deferRender": true,
                "select": 'single',
                "search": {
                    "regex": true
                },
                "rowId": 'id',
                columns: [
                    {
                        data: "category_image_url",
                        render: function (data, type, row) {
                            return '<img height="30px" src="' + data + '">'
                        }
                    },
                    {
                        data: "name",
                    },
                    {
                        data: 'id', visible: false
                    }
                ]
            });

            cat_parent_table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var parent_id = cat_parent_table.row(indexes).id();
                    $('#parent_id').val(parent_id)
                    // do something with the ID of the selected items
                }
            });
        })

    </script>
{% endblock javascript %}






