{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'templating/sub_layouts/templating_top_navbar.html' %}
            </div>
        </div>
    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="templates_table" class="table table-hover table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Store</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th width="100px"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}

{% block javascript %}



<script>
    $(document).ready(function() {

    //    $("#js-customer-create").click(loadForm);

    $('#templates_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/templating/api/templates/?format=datatables"
             },
        "deferRender": true,
        "order": [[ 1, "desc" ]],
         "search": {
            "regex": true
        },
        columns :[
            {
                data: "store.thumb",
                sortable: false,
                searchable: false,
                render: function ( data, type, row ) {
                    let image_src = '{% static "images/stores/" %}' + data;
                    return '<img height="15px" src="' + image_src + '">'
                 }
            },
            {data: "name"},
            {data: "description"},
            {data: "template_type.name"},
            {
                data: "id",
                sortable: false,
                className: 'text-md-end text-start',
                render: function ( data, type, row ) {
                let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-sm" href="' + data + '/edit"><i class="{{ ICON_EDIT }} fa-sm"></i></a>';
                 return  edit_icon;

                }
            },
        ]
    } );


} );

$(document).on('click', '.js-blog-delete', loadForm);

</script>

{% endblock javascript %}