<div class="container">
    <div class="row">
        <div class="col">

            <table id="product_table" class="table table-hover table-striped align-middle table-sm"
                   style="width:100%">
                <thead>
                <tr>
                    <th width="75px">Image</th>
                    <th class="col-4">Name</th>
                    <th class="col-auto">Title</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <table id="core_variants_table" class="table table-hover table-striped align-middle table-sm"
                   style="width:100%">
                <thead>
                <tr>
                    <th width="col-1">Code</th>
                    <th class="col-4">Size</th>
                    <th class="col-4">Material</th>
                    <th class="col-1">Price</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

             <form method="post" id="form-stock"
             {% block form_vars %}{% endblock form_vars %}>
                {% csrf_token %}
                {% block form_hidden_block %}

                {% endblock form_hidden_block %}
             <input type="hidden" id="single_unit_price" name="single_unit_price" value="0">
             <input type="hidden" id="base_unit_price" name="base_unit_price" value="0">
             <input type="hidden" id="text_to_copy" name="text_to_copy"  value="">
             <input type="hidden" id="price_to_copy" name="price_to_copy" value="">
                 <input type="hidden" id="product_id" name="product_id" value="">
                 <input type="hidden" id="product_variant_id" name="product_variant_id" value="">

             <textarea id="string_to_copy" name="string_to_copy" class="hidden_copy"  value=""></textarea>
             <input id="string_to_copy_bulk" name="string_to_copy_bulk" class="hidden_copy"  value="">

                <div class="row">
                    <div class="col-8">
                        <div class="form-check form-switch">
                            <input class="form-check-input switchApplyBulk" type="checkbox" id="switchApplyBulk"
                                   checked>
                            <label class="form-check-label" for="stock-switchShowBulk">Apply bulk discount</label>
                        </div>
                        <div class="collapse show" id="collapseBulkDiscount">
                            <div class="row">
                                <div class="col-12" id="bulkTableDiv">
                                    <select class="form-select bulk_group_select" id="stock-bulk_group_select">
                                        {% for bulk_group in bulk_info %}
                                            <option value="{{ bulk_group.id }}">{{ bulk_group.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="row">
                                        <div class="col-xs-12" id="bulk_pricing_div">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="row d-flex justify-content-md-end mb-2">
                                <div class="col-6 col-lg-4">

                                    <label for="quantity"
                                           class="form-label">QTY</label>
                                    <input type="number" min="1" step="1" class="form-control calc_line_totals"
                                           id="quantity" name="quantity"
                                           value="1">
                                </div>
                                <div class="col-6 col-lg-4">
                                    <label for="price"
                                           class="form-label">Price</label>
                                    <input type="number" id="price" name="price"
                                           step="0.01"
                                           value="0.00"
                                           class="form-control calc_line_totals" readonly>
                                </div>
                                <div class="col-12 col-lg-4 d-flex align-items-end text-end">
                                    <h3>£<span id="line_total_cal">0.oo</span></h3>
                                </div>
                            </div>
                        </div>
                        {% block form_buttons %}
                        {% endblock form_buttons %}
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


    <style>
        .cards tbody tr {
            float: left;
            width: 10rem;
            margin: 0.5rem;
            border: 0.0625rem solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
        }

        .cards tbody td {
            display: block;
        }

        .table tbody label {
            display: none;
        }

        .cards tbody label {
            display: inline;
            position: relative;
            font-size: 85%;
            top: -0.5rem;
            float: left;
            color: #808080;
            min-width: 4rem;
            margin-left: 0;
            margin-right: 1rem;
            text-align: left;
        }

        #product_table.cards .product-thumb {
            height: 50px;
        }

        #product_table .product-thumb {
            height: 30px;
        }

        tr.selected label {
            color: #404040;
        }

        .table .fa {
            font-size: 2.5rem;
            text-align: center;
        }

        .cards .fa {
            font-size: 7.5rem;
        }

    </style>

    <script>

        bulk_table_data = {{ bulk_info|safe }}
            tax_rate = parseFloat( 20 / 100 ).toFixed(2);  //TODO - make this a true tax rate

        $(document).ready(function () {

            if ( $.fn.dataTable.isDataTable( '#product_table' ) ) {
                var product_table = $('#product_table').DataTable();
            }
            else {
                var product_table = $('#product_table').DataTable({
                    "dom": "<'row'<'col-6'fl><'col-6'p>>" +
                        "<'row'<'col-12'tr>>",
                    "processing": true,
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "pageLength": 10,
                    "autoWidth": false,
                    "responsive": false,
                    "serverSide": true,
                    "select": true,
                    "scroller": true,
                    scrollY: 300,
                    "rowId": 'product_id',
                    "ajax": {
                        "processing": true,
                        "url": "/products/api/post-list/products/0/?format=datatables",
                        "type": "GET",

                    },
                    "deferRender": false,

                    "search": {
                        "regex": true
                    },
                    columns: [

                        {
                            data: "image_url",
                            name: "thumbnail",
                            searchable: "false",
                            sortable: "false",
                            render: function (data, type, row, meta) {
                                return '<img class="rounded mx-auto d-block product-thumb" src="' + data + '">';
                            }
                        },
                        {
                            data: "productdescbase.name",
                            defaultContent: ""
                        },
                        {
                            data: "productdescbase.title",
                            defaultContent: ""
                        },
                        {
                            data: "productdescbase.description",
                            defaultContent: "",
                            "visible": false
                        },
                        {
                            data: "product_id",
                            "visible": false
                        },
                        {
                            data: "corevariants",
                            name: "corevariants.supplier_code",
                            "visible": false
                        }
                    ]
                });
            }

            product_table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    let product_id = product_table.row(indexes).id()
                     $('#form-stock #product_id').val(product_id)
                    set_variant_url(product_id)
                  //  set_product_details(product_table.row(indexes).data())

                }
            });

            if ( $.fn.dataTable.isDataTable( '#core_variants_table' ) ) {
                var core_vars_tbl = $('#core_variants_table').DataTable();
            }
            else {
                var core_vars_tbl = $('#core_variants_table').DataTable({
                "processing": true,
                "pageLength": 100,
                "paging": true,
                "info": false,
                "autoWidth": false,
                "searching": false,
                "responsive": true,
                "select": true,
                "deferRender": false,
                "scroller": true,
                scrollY: 200,
                "rowId": 'prod_variant_id',
                "ajax": {
                    "processing": true,
                    "url": "/products/api/storevariants/" + 1 + "/1?format=datatables",
                },
                columns: [
                    {data: "variant_code"},
                    {
                        data: "prod_var_core.size_material.product_size.size_name"
                    },
                    {
                        data: "prod_var_core.size_material.product_material.material_name"
                    },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            if (data['variant_overide_price'] > 0)
                                return data['variant_overide_price']
                            else
                                return data['prod_var_core']['size_material']['price']
                        },
                        name: 'variant_price'
                    }
                ]

            })
            }


            function set_variant_url(product_id) {
                let ajax_url = "/products/api/storevariants/" + product_id + "/1?format=datatables"
                core_vars_tbl.ajax.url(ajax_url).load();
            }

            product_table.on('draw', function () {
                product_table.row(0).select();

            });

            core_vars_tbl.on('draw', function () {
                core_vars_tbl.row(0).select();
            });

            core_vars_tbl.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    let product_variant_id = core_vars_tbl.row(indexes).id()

                    $('#form-stock #product_variant_id').val(product_variant_id)
                    set_product_base_price(core_vars_tbl.row(indexes).data())
                    set_copy_string(core_vars_tbl.row(indexes).data());
                  //  set_copy_bulk_string(core_vars_tbl.row(indexes).data());
                    SetPrice(true, '#form-stock')

                }
            });


            function set_product_base_price(data_row){
                let core_variant = data_row['prod_var_core'];

                if (data_row['variant_overide_price'] > 0) {
                    $('#form-stock #single_unit_price').val(data_row['variant_overide_price'])
                     $('#form-stock #base_unit_price').val(data_row['variant_overide_price'])
                } else {
                    $('#form-stock #single_unit_price').val(core_variant['size_material']['price'])
                    $('#form-stock #base_unit_price').val(core_variant['size_material']['price'])
                }
            }

            function set_copy_string(data_row)
            {
                 let core_variant = data_row['prod_var_core'];

                let text_string = "";
                let size_str = core_variant['size_material']['product_size']['size_name'];
                let material_str = core_variant['size_material']['product_material']['material_name'];
                let orientation_str =  core_variant['size_material']['product_size']['orientation']['orientation_name'];
                let model_str = data_row['variant_code'];

                 text_string = model_str + " - " + size_str
                    //+ " ( " + orientation_str + " ) "
                    + " - " +material_str;

                $('#text_to_copy').val(text_string);
            }

            function set_copy_bulk_string(data_row)
            {
                 let core_variant = data_row['prod_var_core'];

                let text_string = "";
                let size_str = core_variant['size_material']['product_size']['size_name'];
                let material_str = core_variant['size_material']['product_material']['material_name'];
                let orientation_str =  core_variant['size_material']['product_size']['orientation']['orientation_name'];
                let model_str = data_row['variant_code'];




                 text_string = model_str + " - " + size_str
                    //+ " ( " + orientation_str + " ) "
                    + " " +material_str

                 let bulk_rows = $('#bulk_pricing_tbl tr');
                 let headers = bulk_rows[0];
                  let prices = bulk_rows[1];



                let string_bulks = "";

                $('#string_to_copy_bulk').val(text_string);



            }

            function set_copy_price(form_id){
                let price_string = "";
                let price_str = $(form_id + ' #price').val();
                let qty_str = $(form_id +' #quantity').val();

                price_string = " @ £"+price_str + " each for "+qty_str + " off";
                $(form_id + ' #price_to_copy').val(price_string);

            }

            $('#form-stock #line_total_cal').change(function() {
                set_copy_price('#form-stock');
                let final_copy_str = $('#form-stock #text_to_copy').val() + $('#form-stock #price_to_copy').val()
                $('#string_to_copy').val(final_copy_str);
            });


        });


    </script>

{% block javascript %}
{% endblock javascript %}