<form method="post" id="form-quick_size_calc">
<div class="row">
    <div class="col-2">
        <label for="calc_width" class="form-label">Width (mm)</label>
        <input type="text" class="form-control js-calc_size_change" id="calc_width" placeholder="0">
    </div>
    <div class="col-2">
        <label for="calc_height" class="form-label">Height (mm)</label>
        <input type="text" class="form-control js-calc_size_change" id="calc_height" placeholder="0">
    </div>
    <div class="col-4">
        <label for="calc_material" class="form-label">Material</label>
        <input class="form-control" list="datalistMaterials" id="calc_material"
               placeholder="Type to search...">
        <datalist id="datalistMaterials">
            {% for materials in material_obj %}
                <option value="{{ materials.material_name }}"
                        data-materialid="{{ materials.material_id }}"></option>
            {% endfor %}
        </datalist>
    </div>
    <div class="col-2">
        <label for="calc_margin" class="form-label">Tollorance</label>
        <select id="calc_margin" class="form-select">
            <option selected value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
        </select>

    </div>
    <div class="col">
        <button id="calc_button_quick" role="button" type="button" class="btn btn-primary btn-lg"><i
                class="fas fa-calculator"></i> Calc
        </button>
    </div>

</div>
<div class="row">
    <div class="col">
        <table id="quick_calc_table" class="table table-hover table-condensed table-striped"
               style="width:100%">
            <thead>
            <tr>
                <th class="col-6">Size</th>
                <th class="col-6">Price</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

 <div class="row">
        <div class="col-12">

             {% block form_vars %}{% endblock form_vars %}
                {% csrf_token %}
             <input type="hidden" id="single_unit_price" name="single_unit_price" value="0">
             <input type="hidden" id="text_to_copy" name="text_to_copy"  value="">
             <input type="hidden" id="price_to_copy" name="price_to_copy" value="">
             <input type="hidden" id="material_name" name="material_name" value="">
             <input type="hidden" id="material_id" name="material_id" value="">
             <input type="hidden" id="bespoke_size" name="bespoke_size" value="">
             <input  id="string_to_copy_calc" name="string_to_copy_calc" class="hidden_copy" value="">

                <div class="row">
                    <div class="col-8">
                        <div class="form-check form-switch">
                            <input class="form-check-input switchApplyBulk" type="checkbox" id="switchApplyBulk"
                                   checked>
                            <label class="form-check-label" for="stock-switchShowBulk">Apply bulk discount</label>
                        </div>
                        <div class="collapse show" id="collapseBulkDiscount">
                            <div class="row">
                                <div class="col-12" id="bulkTableDiv">
                                    <select class="form-select bulk_group_select" id="stock-bulk_group_select">
                                        {% for bulk_group in bulk_info %}
                                            <option value="{{ bulk_group.id }}">{{ bulk_group.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="row">
                                        <div class="col-xs-12" id="bulk_pricing_div">
                                            asdasdas
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="row d-flex justify-content-md-end mb-2">
                                <div class="col-6 col-lg-4">

                                    <label for="quantity"
                                           class="form-label">QTY</label>
                                    <input type="number" min="1" step="1" class="form-control calc_line_totals"
                                           id="quantity" name="quantity"
                                           value="1">
                                </div>
                                <div class="col-6 col-lg-4">
                                    <label for="price"
                                           class="form-label">Price</label>
                                    <input type="number" id="price" name="price"
                                           step="0.01"
                                           value="0.00"
                                           class="form-control calc_line_totals" readonly>
                                </div>
                                <div class="col-12 col-lg-4 d-flex align-items-end text-end">
                                    <h3>£<span id="line_total_cal">0.00</span></h3>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-success pull-right btncopy" data-clipboard-target="#string_to_copy_calc">Copy Price</button>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</form>

<script>
     $(document).ready(function() {

    var quick_calc_table = $('#quick_calc_table').DataTable({
                'searching': false,

        "info": false,
                "processing": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "pageLength": 10,
                "autoWidth": true,
                "serverSide": false,
                "ajax": {
                    "processing": true,
                    "url": "/pricing/api/bespokeprices/?format=datatables&width=0&height=0&material_id=1&margin=10",
                    "type": "GET",
                },
                "select": true,
                "scroller": true,
                scrollY: 300,
                columns: [
                    {data: "product_size.size_name"},
                    {data: "price", searchable: false},
                ]
            });


         $('#form-quick_size_calc #calc_material').on('change', function(){
               let selectedOption = $("#datalistMaterials option[value='" + $(this).val() + "']");
               let selectedMaterial = parseInt(selectedOption.attr('data-materialid'));
               if(selectedMaterial) {
                   $('#form-quick_size_calc #material_id').val(selectedMaterial);
                   $('#form-quick_size_calc #material_name').val($(this).val());
               }
            })

         $('#form-quick_size_calc .js-calc_size_change').on('keyup', function(){
                str_width = $('#calc_width').val()
                str_height =  $('#calc_height').val()
                str_size = str_width+"mm x " + str_height + "mm";
                $('#form-quick_size_calc #bespoke_size').val(str_size);
            })

        $('#calc_button_quick').on('click', function(){
                let str_width = $('#form-quick_size_calc #calc_width').val()
                let str_height =  $('#form-quick_size_calc #calc_height').val()
                let material_id = $('#form-quick_size_calc #material_id').val()
                let margin =  $('#calc_margin').val()
                let strurl = "/pricing/api/bespokeprices/?format=datatables&width="+str_width+"&height="+str_height+"&material_id="+material_id+"&margin="+margin
                quick_calc_table.ajax.url( strurl ).load();
            })

            function set_calc_details(data_row) {
                //now calc the price based on m2 and selected price
                let str_width = $('#calc_width').val()
                let str_height =  $('#calc_height').val()
                let stock_width = data_row['product_size']['size_width'];
                let stock_height = data_row['product_size']['size_height'];
                let m2_custom =  ( (str_width/1000) * (str_height/1000)) ;
                let m2_stock_price = data_row['price'] / ( (stock_width/1000) * (stock_height/1000));
                let customer_price = parseFloat(m2_stock_price * m2_custom).toFixed(2);
                $('#form-quick_size_calc #single_unit_price').val(customer_price)

            }

            quick_calc_table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    let data_row = quick_calc_table.row(indexes).data()
                    set_calc_details(data_row)
                    set_copy_string()
                    set_copy_price('#form-quick_size_calc')
                    SetPrice(true, '#form-quick_size_calc')
                }

            });

            function set_product_base_price_size(data_row){
                let product_info = data_row['size_material_comb'];
               $('#form-quick_size_calc #single_unit_price').val(product_info['price'])

            }

            function set_copy_string()
            {
                let text_string = "";
                let size_str = $('#form-quick_size_calc #bespoke_size').val()
                let material_str = $('#form-quick_size_calc #material_name').val()

                 text_string = size_str
                    //+ " ( " + orientation_str + " ) "
                    + " " +material_str;

                $('#form-quick_size_calc #text_to_copy').val(text_string);

            }

            function set_copy_price(form_id) {
             let price_string = "";
             let price_str = $(form_id + ' #price').val();
             let qty_str = $(form_id + ' #quantity').val();

             price_string = " @ £" + price_str + " each for " + qty_str + " off";
             $(form_id + ' #price_to_copy').val(price_string);


            }

            $('#form-quick_size_calc #line_total_cal').change(function() {
                set_copy_price('#form-quick_size_calc');
                let final_copy_str = $('#form-quick_size_calc #text_to_copy').val() + $('#form-quick_size_calc #price_to_copy').val()
                $('#string_to_copy_calc').val(final_copy_str);
            });




         });


</script>
