{% if bl_direct %}
<p><strong>Please deliver this order direct to our customer.</strong> The despatch note and shipping address label are attached.</p>
<p>
    <strong>Delivery address</strong><br>
    {{ address.fullname }}<br>
    {% if address.company %}{{ address.company }}<br>{% endif %}
    {% if address.address_1 %}{{ address.address_1|linebreaksbr }}<br>{% endif %}
    {% if address.address_2 %}{{ address.address_2|linebreaksbr }}<br>{% endif %}
    {% if address.city %}{{ address.city }}<br>{% endif %}
    {% if address.area %}{{ address.area }}<br>{% endif %}
    {% if address.postcode %}{{ address.postcode }}<br>{% endif %}
    {% if address.country %}{{ address.country }}{% endif %}
</p>
<p><strong>Delivery telephone:</strong> {{ address.telephone|default:"not supplied" }}</p>
{% else %}
<p><strong>For collection.</strong> We will collect this order - please label it with our order reference <strong>{{ order_number }}</strong> and let us know when it is ready.</p>
{% endif %}
