{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="row top_bar">
            <div class="col-3 col-lg-2">

            </div>
            <div class="col-3 col-lg-4">

            </div>
            <div class="col-6 col-lg-6">
                {% include 'symbols/sub_layout/symbol_list_navbar.html' %}
            </div>
        </div>
      <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="symbol_table" class="table table-hover table-striped align-middle table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th width="50px" class="float-end">&nbsp</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock content %}

{% block javascript %}


<script>
    $(document).ready(function() {



    $('#symbol_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": true,
        "responsive": true,
        "serverSide": true,
        "ajax": {
                 "processing": true,
                 "url": "/symbols/api/symbols/?format=datatables"
             },
        "deferRender": false,
         "search": {
            "regex": true
        },
        columns :[

            {
                data: "symbol_image_url",
                name: "thumbnail",
                searchable: "false",
                sortable: "false",
                render: function (data, type, row, meta ) {
                    return '<img class="rounded mx-auto d-block product-thumb" src="' + data+'">';
                }
            },
            {data: "referent"},
            {
                data: "id",
                sortable: false,
                className: 'text-md-end text-start',
                render: function ( data, type, row ) {
                let edit_icon = '<a class="btn {{ BUTTON_EDIT }} btn-tsg-row" role="button" href="' + data + '"><i class="{{ ICON_EDIT }} "></i></a>';
                let delete_icon = '<a  class="btn {{ BUTTON_DELETE }} btn-tsg-row js-symbol-delete" role="button" data-url="' + data + '/deletedlg"><i class="{{ ICON_DELETE }} "></i></a>';
                return delete_icon + "  " + edit_icon;
                //    return  data_button
                }
            }

        ]
    } );


} );

</script>



{% endblock javascript %}