{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<form action="." onsubmit="return false;" novalidate="true">
<div class="form-group">
<input class="form-control" id="address1" placeholder="Line 1">
</div>
<div class="form-group">
<input class="form-control" id="address2" placeholder="Line 2">
</div>
<div class="form-group">
<input class="form-control" id="address3" placeholder="Line 3">
</div>
<div class="form-group">
<input class="form-control" id="city" placeholder="City">
</div>
<div class="form-group">
<input class="form-control" id="county" placeholder="County">
</div>
<div class="form-group">
<div class="input-group">
    <input class="form-control" id="postcode" placeholder="Postcode"><div class="input-group-btn"><input type="button" value="Find" class="postcodeLookup btn btn-primary" id="FindButton"></div>
</div>
</div>

    <select name="addresslist-results" id="addresslist-results" size="10" class="col-12">

    </select>


</form>






{% endblock content %}

{% block javascript %}
        {% include 'partials/javascript.html' %}

    <script>


        $(function () {

            function lookUPAddress(inputVal, container = '') {
                var Key = "HB52-EE72-DF77-GG96",
                    IsMiddleware = true,
                    Countries = "GB",
                    Limit = "10",
                    Language = "en-gb",
                    url = 'https://api.addressy.com/Capture/Interactive/Find/v1.1/json3.ws';

                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        Key: Key,
                        Text: inputVal,
                        IsMiddleware: IsMiddleware,
                        Countries: Countries,
                        Limit: Limit,
                        Container: container,
                        Language: Language
                    },

                    success: function (response, statusText, resObject) {

                        let addressLists = response['Items'];
                        if (addressLists.length == 1) {  //this might be a postcode
                            let single_address = addressLists[0];
                            if (single_address.Type == 'Postcode') {
                                console.log(single_address);

                                //re-call and get the list of address for this postcode
                                lookUPAddress(single_address.Text, single_address.Id)
                            } else if (single_address.Type == 'Address') {  //might be a single address

                                createAddressSelectDiv(addressLists);
                            }
                        } else if (addressLists.length > 0) {
                            createAddressSelectDiv(addressLists)
                        }
                        ;
                    }
                });
                console.log(inputVal);
            }

            function createAddressSelectDiv(addressList) {
                let address_list = "";

                $("#addresslist-results").empty();
                let list = document.getElementById('addresslist-results');
                $.each(addressList, function (key, value) {

                    var option = document.createElement("option");
                    option.setAttribute("data-value", value.Id)
                    option.setAttribute("value", value.Text + " " + value.Description)
                    option.text = value.Text + " " + value.Description;
                    list.append(option);


                });

            }

            var lookupFn = function () {
                //$("#addressLookup").keyup(function () {
                let inputVal = this.value;
                if (inputVal.length > 3) {
                    lookUPAddress(inputVal);

                }
            }

            $("#address1").keyup(lookupFn);

            $('#addresslist-results').on('change', function () {
                var address_id = $(this).children(":selected").attr("data-value");
                alert(address_id)
            });
        })


</script>


{% endblock javascript %}

