{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> <strong>DELETE</strong> order</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'api_ordersdelete' %}"
                      id="js-order-delete-form">
                    {% csrf_token %}
                    <input type="hidden" id="order_id" name="order_id"
                           value="{{ order_id }}">
                Are you sure you want to delete this order?
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="delete" class="btn btn-primary pull-right">Delete</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

