{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title">Discounts</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'orderdiscountchange' order_id %}"
                      id="js-order-discount-change-form">
                    {% csrf_token %}
                    <input type="hidden" id="quote_id" name="quote_id"
                           value="{{ quote_id }}">
                    <div class="row">
                        <div class="col-12 pb-2">Current sub total: <strong>{{ subtotal }}</strong></div>
                        <div class="row">
                            <label for="by_percent" class="col-6 col-form-label">By Percent</label>
                            <div class="col-6">
                                <input class="form-control" type="number" placeholder="0.00" id="by_percent" name="by_percent"
                                   min="0" step="0.01">
                            </div>
                        </div>
                        <div class="row">
                            <label for="by_value" class="col-6 col-form-label">By Value</label>
                            <div class="col-6">
                                <input class="form-control" type="number" placeholder="0.00" id="by_value" name="by_value"
                                   min="0" step="0.01" value="{{ discount_value }}">
                            </div>
                        </div>
                        <div class="row">
                            <label for="by_total" class="col-6 col-form-label"><strong>Total</strong></label>
                            <div class="col-6">
                                <input class="form-control" type="number" placeholder="0.00" id="by_total" name="by_total"
                                   min="0" step="0.01" value="{{ subtotal }}">
                            </div>
                        </div>
                    <div class="col-12">
                    </div>
                        <div class="row mt-2">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="update" class="btn btn-primary pull-right">Update</button>
                    </div>
                </div>
            </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var sub_total = {{ subtotal }}
    var discount_value = {{ discount_value }}

        $('#by_value').on('change', function(){
        let newval = $(this).val()
        let byperc = $('#by_percent')
        let bytotal = $('#by_total')
        let newtotal = (sub_total - newval).toFixed(2)
        let newperc = (100 - ((newtotal/sub_total) * 100).toFixed(2)).toFixed(2)
        byperc.val(newperc)
        bytotal.val(newtotal)
    })

    $('#by_percent').on('change', function(){
        let newperc = $(this).val()
        let byval = $('#by_value')
        let newval = ((newperc/100) * sub_total).toFixed(2)
        byval.val(newval)
        let bytotal = $('#by_total')
        bytotal.val((sub_total - newval).toFixed(2))
    })

    $('#by_total').on('change', function(){
        let newtotal = $(this).val()
        let newperc = (100 - ((newtotal/sub_total) * 100).toFixed(2)).toFixed(2)
        let byval = $('#by_value')
        let newval = (sub_total - newtotal).toFixed(2)
        let byperc = $('#by_percent')
        byval.val(newval)
        byperc.val(newperc)
    })

    $(function(){
        if(discount_value > 0){
            $('#by_value').change()
        }
    })
</script>