{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title">Update Order Details</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'orderdetailsedit' order_id %}"
                      id="js-order-details-edit-submit">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">{{ form.store|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.customer_order_ref|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.order_type|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.order_status|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.payment_method|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.payment_status|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.comment|as_crispy_field }}</div>
                <div class="col-md-12">
                    <div class="col-md-12">{{ form.printed|as_crispy_field }}</div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="update" id="update" class="btn {{ BUTTON_UPDATE }} pull-right">Update</button>
                    </div>
                </div>
            </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //some some cool stuff with payment types etc.
    $('#id_{{ form.payment_method.name }}').change(function() {
        changedto = $(this).val()
        if(changedto == 7) { // PO
            $('#id_{{ form.payment_status.name }}').val(3)  //waioting
            $('#id_{{ form.order_status.name }}').val(1)  //open
        }
        if(changedto == 5) { //Proforma
            $('#id_{{ form.payment_status.name }}').val(8)  //waioting
            $('#id_{{ form.order_status.name }}').val(1)  //open
        }

    });
</script>