{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title">Update Product</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form method="post" action="{{ form_post_url }}"
                {% if price_for|upper == "I" %} class="js-product-edit-submit"
                {% else %}
              class="js-quote-product-edit-submit"
                {% endif %}
              id="js-product-edit-submit">
            {% csrf_token %}
            <input type="hidden" id="{{ form.tax.name }}" name="{{ form.tax.name }}"
                   value="{{ form.tax.value|floatformat:2 }}">
            <input type="hidden" id="{{ form.total.name }}" name="{{ form.total.name }}"
                   value="{{ form.total.value|floatformat:2 }}">
            <input type="hidden" id="{{ form.exclude_discount.name }}" name="{{ form.exclude_discount.name }}"
                   value="{{ form.exclude_discount.value }}">

            <input type="hidden" id="manualCalcWidth" name="manualCalcWidth"
                   value="{{ form.width.value }}">
            <input type="hidden" id="manualCalcHeight" name="manualCalHeight"
                   value="{{ form.height.value }}">
            <input type="hidden" name="selected_option_values_frm" id="selected_option_values_frm">

           <input type="hidden" id="{{ form.base_unit_price.name }}" name="{{ form.base_unit_price.name }}"
                   value="{{ form.base_unit_price.value }}">


            <input type="hidden" id="{{ form.bulk_discount.name }}" name="{{ form.bulk_discount.name }}"
                   value="1">
            <div class="row">
                <div class="col-6 col-md-4">
                    <label for="label_{{ form.model.name }}" class="form-label">{{ form.model.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.model.name }}"
                           name="{{ form.model.name }}" value="{{ form.model.value }}" required>
                </div>

                <div class="col-6 {% if price_for|upper == "I" %} col-md-6 {% else %} col-md-8 {% endif %}">
                    <label for="label_{{ form.name.name }}" class="form-label">{{ form.name.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.name.name }}"
                           name="{{ form.name.name }}" value="{{ form.name.value }}" required>
                </div>
                {% if price_for|upper == "I" %}
                    <div class="col-6 col-md-2">{{ form.status|as_crispy_field }}</div>
                {% endif %}
            </div>
            <div class="row pb-2">
                <div class="col-6 col-md-2">
                    <label for="label_{{ form.width.name }}"
                           class="form-label">{{ form.width.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.width.name }}"
                           name="{{ form.width.name }}" value="{{ form.width.value }}" onchange="setSize()">
                </div>
                <div class="col-6 col-md-2">
                    <label for="label_{{ form.height.name }}"
                           class="form-label">{{ form.height.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.height.name }}"
                           name="{{ form.height.name }}" value="{{ form.height.value }}" onchange="setSize()">
                </div>
                <div class="col-6 col-md-2">
                    <label for="label_{{ form.size_name.name }}"
                           class="form-label">{{ form.size_name.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.size_name.name }}"
                           name="{{ form.size_name.name }}" value="{{ form.size_name.value }}">
                </div>
                <div class="col-6 col-md-4">
                    <label for="label_{{ form.material_name.name }}"
                           class="form-label">{{ form.material_name.label }}</label>
                    <input type="text" class="form-control" id="label_{{ form.material_name.name }}"
                           name="{{ form.material_name.name }}" value="{{ form.material_name.value }}">
                </div>
                <div class="col-2">
                    <label for="label_{{ form.is_bespoke.name }}"
                           class="form-label">{{ form.is_bespoke.label }}</label>
                    <input type="checkbox" class="form-check" id="label_{{ form.is_bespoke.name }}"
                           name="{{ form.is_bespoke.name }}" value="True" {% if form.is_bespoke.value  %} checked {% endif %}>
                </div>
            </div>

            <!-- variant and options -->

                {% if form.is_bespoke.value  %}
                     <hr>
                   <div class="row" id="bespoke_addons">
                        {% include 'orders/dialogs/bespoke_product_addons.html' %}
                    </div>
                {% else %}
                    {% include 'orders/dialogs/order_product_edit_options_variants.html' %}
                {% endif %}

            <hr>
            <div class="row"> <!-- Bulk Discount -->
                <div class="col-12 col-md-9">
                    <div class="collapse show" id="collapseBulkDiscount">
                        <div class="row">
                            <div class="col-12" id="bulkTableDiv">
                                <select class="form-select bulk_group_select" id="edit-bulk_group_select">
                                    {% for bulk_group in bulk_info %}
                                        <option value="{{ bulk_group.id }}" {% if default_bulk == bulk_group.id %}
                                                selected {% endif %}>{{ bulk_group.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="row">
                                    <div class="col-xs-12" id="bulk_pricing_div">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="row">
                        <div class="form-check form-switch form-switch-md col-12">
                            <label class="form-label" for="switchShowBulk">Apply Bulk</label>
                            <input class="form-check-input" type="checkbox" id="switchApplyBulk" name="{{ form.bulk_used.name }}" role="switch"
                                    {% if form.bulk_used.value %} checked {% endif %}>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <label for="{{ form.single_unit_price.name }}"
                                       class="col-6 col-form-label pe-0"><strong>SINGLE</strong> Unit Price</label>
                                <div class="col-6">
                                    <input type="number" step="0.01" min="0.00" maxlength="3"
                                           class="form-control two-decimals "
                                           id="{{ form.single_unit_price.name }}"
                                           name="{{ form.single_unit_price.name }}"
                                           value="{{ form.single_unit_price.value|floatformat:2 }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <label for="label_{{ form.quantity.name }}"
                                       class="col-6 col-form-label">{{ form.quantity.label }}</label>
                                <div class="col-6">
                                    <input type="number" min="1" step="1" class="form-control calc_line_totals"
                                           id="{{ form.quantity.name }}" name="{{ form.quantity.name }}"
                                           value="{{ form.quantity.value }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <label for="label_{{ form.price.name }}"
                                       class="col-form-label col-6">{{ form.price.label }}</label>
                                <div class="col-6">
                                    <input type="number" step="0.01" min="0.00" maxlength="3"
                                           class="form-control two-decimals calc_line_totals"
                                           id="{{ form.price.name }}"
                                           name="{{ form.price.name }}"
                                           value="{{ form.price.value|floatformat:2 }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- END BULK DISCOUNT -->
            <div class="row"> <!-- START TOTAL -->
                <div class="col-12 d-md-flex justify-content-md-end">
                                    <span class="h3 pt-2">Total Line Price - £<span
                                            id="line_total_cal">{{ form.total.value|floatformat:2 }}</span></span>
                </div>
            </div> <!-- END TOTAL -->
            <div class="row"> <!-- START BUTTONS -->
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end align-text-bottom">
                        <div class="form-check-warning form-switch form-switch-lg">
                            <input class="form-check-input" type="checkbox" id="switch_exclude_discount_edit"
                                   name="switch_exclude_discount_edit" role="switch"
                                    {% if form.exclude_discount.value %} checked {% endif %}>
                            <label class="form-check-label" for="switch_exclude_discount_edit">Exclude from
                                discount</label>
                        </div>
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">
                            Cancel
                        </button>
                        <button type="submit" id="update" class="btn {{ BUTTON_UPDATE }} pull-right">
                            Update
                        </button>
                    </div>
                </div>
            </div> <!-- END BUTTONS -->


        </form>
    </div>
</div>

<script>


    bulk_table_data = {{ bulk_info|safe }}


   /* $("#switchApplyBulk").change(function () {
        let product_price = "#label_{{ form.price.name }}";
        let bl_bulk = $(this).is(":checked")
        $(product_price).prop('readonly', $(this).is(":checked"))
        $('#{{ form.bulk_used.name }}').val(bl_bulk);

    })

    $(".calc_line_totals").change(function () {
        let use_bulk = $('#switchApplyBulk').is(":checked");
        if (use_bulk)
            SetPrice();
        else {
            let qty = $('#label_{{ form.quantity.name }}').val();
            let price = $('#label_{{ form.price.name }}').val();
            let line_total = calc_totals(price, qty);
            $('#total').val(line_total);
            $('#line_total_cal').html(line_total);
            $('#{{ form.total.name }}').val(line_total);
        }

    });*/

    $("#single_unit_price").change(function () {
        let form_id = '#' + $(this).parents("form").attr('id')
        let single_price = $(this).val();
        $('#{{ form.base_unit_price.name }}').val(single_price);
        SetPrice(true, form_id);
    });
/*
    function calc_totals(price, qty) {
        return (price * qty).toFixed(2);
    } */
/*
    function SetPrice(getbulk = true) {
        let qty_field = "#label_{{ form.quantity.name }}";
        let product_price = "#label_{{ form.price.name }}";
        let line_price = 0.00;
        let base_price = $('#{{ form.single_unit_price.name }}').val();
        let discount_price = 0.00;
        qty = parseInt($(qty_field).val())
        bulk_group_id = $('#bulk_group_select').val();

        drawBulkTable(bulk_group_id);

        if (getbulk) {
            discount = getBulkPriceDiscount(bulk_group_id, qty)
            discount_price = (parseFloat(base_price).toFixed(2) * discount).toFixed(2);
            console.log(discount_price)
            line_price = parseFloat(qty * discount_price).toFixed(2);
            $(product_price).val(discount_price);
        } else {
            line_price = (qty * $('#{{ form.single_unit_price.name }}').val()).toFixed(2);
        }

        $('#{{ form.total.name }}').val(parseFloat(line_price).toFixed(2));
        $('#line_total_cal').html(line_price);
    }*/

  /*  $('#bulk_group_select').change(function () {
        $("#{{ form.bulk_discount.name }}").val(this.value);
        drawBulkTable(this.value)
        SetPrice()
    })*/

/*
    function drawBulkTable(bulk_group_id) {

        let base_price = $('#{{ form.single_unit_price.name }}').val()
        var bulk_array = $.grep(bulk_table_data, function (e) {
            return e.id == bulk_group_id;
        })[0];
        var tbl = $('<table class="table table-hover table-striped align-middle table-sm"></table>').attr({id: "bulk_pricing_tbl"});
        var header = $('<thead></thead>').appendTo(tbl);
        var headerrow = $('<tr></tr>').appendTo(header);
        var body = $('<tbody></tbody>').appendTo(tbl);
        var row = $('<tr></tr>').appendTo(body);

        $('#bulk_pricing_div').empty();

        $.each(bulk_array['breaks'], function (index, value) {
            if (index == 0) {
                $('<th></th>').text(value['qty_range_min']).appendTo(headerrow);
            } else if (index == bulk_array['breaks'].length - 1) {
                $('<th></th>').text(value['qty_range_min'] + "+").appendTo(headerrow);
            } else {
                var nextbreak = bulk_array['breaks'][index + 1]['qty_range_min'] - 1;

                $('<th></th>').text(value['qty_range_min'] + "-" + nextbreak).appendTo(headerrow);
            }
            let bulkprice = base_price * ((100 - value['discount_percent']) / 100)
            $('<td class="bulkcell" data-variant-cellid="' + index + '"></td>').text(parseFloat(bulkprice).toFixed(2)).appendTo(row);
        })
        tbl.appendTo('#bulk_pricing_div');


    }*/
/*
    function getBulkPriceDiscount(bulk_group_id, qty) {
        var bulk_array = $.grep(bulk_table_data, function (e) {
            return e.id == bulk_group_id;
        })[0];
        let discount = 1;
        let cell_index = 1;
        $.each(bulk_array['breaks'], function (index, value) {
            if (index >= bulk_array['breaks'].length - 1) {
                discount = 100 - value['discount_percent'];
                cell_index = index;
                return false;
            }
            var nextbreak = bulk_array['breaks'][index + 1]['qty_range_min']
            if ((value['qty_range_min'] <= qty) && qty < nextbreak) {
                discount = 100 - value['discount_percent'];
                cell_index = index;
                return false;
            }
        })
        setDiscountCellColour(cell_index)
        return (discount / 100).toFixed(2)
    }*/
/*
    function setDiscountCellColour(cell_index) {

        var allCells = $(".bulkcell");
        allCells.removeClass("table-success");

        var cellToColour = $('[data-variant-cellid="' + cell_index + '"]');
        cellToColour.addClass("table-success");

    }
*/
    $(function () {
        let product_price = "#{{ form.price.name }}";
        $(product_price).prop('readonly', $('#switchApplyBulk').is(":checked"))
       // $('#bulk_group_select').val({{ default_bulk }});
        let form_id = '#js-product-edit-submit'
       // drawBulkTable({{ default_bulk }});
        SetPrice(true, form_id)
    })

    function backCalcSingle(group_id, qty, price) {

    }

    $('#switch_exclude_discount_edit').change(function () {
        let excluded = $(this).is(":checked");
        let exclude_id_str = {{ form.exclude_discount.name }}
        $(exclude_id_str).val(excluded);
    });

    function setSize(){
        newWidth = $('#label_width').val()
        newHeigh = $('#label_height').val()
        //set the hidden fields
        $('#manualCalcWidth').val(newWidth)
        $('#manualCalcHeight').val(newHeigh)
        //set the sizename
        $('#label_{{ form.size_name.name }}').val(newWidth + 'mm x ' + newHeigh + 'mm')
    }


</script>
