{% extends 'partials/base_dlg_test.html' %}
{% load static %}
{% block extra_css %}
   <!-- old datatables css -->
{% endblock extra_css %}

{% block content %}

<div class="container">
<form name="form_product_options" id="form_product_options">
    <div class="row">
        <div class="col">
            {% for option_data in  options_markup %}
                <div class="row" id="div_product_option_{{ option_data.id }}"  data-option={{ option_data.id }}>
                    <label for="product_option_{{ option_data.id }}" class="col-form-label col-sm-2">{{ option_data.option_name }}</label>
                    {% if option_data.option_type == 1 %}
                    <div class="col-sm-10">
                        <select id="product_option_{{ option_data.option_id }}" data-selectclass="{{ option_data.option_id }}" class="form-select tsg_product_option_class" name="product_option_{{ option_data.id }}" >
                            {% for option_values in option_data.option_values %}
                             <option value="{{ option_values.id }}" data-optionvalue={{ option_values.id }} >{{  option_values.value }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    {% endif %}
                    {% if option_data.option_type == 2 %}
                        <div class="col-sm-10">
                        {% for option_values in option_data.option_values %}
                            <input type="text" id="product_option_{{ option_values.id }}" name="product_option_{{ option_values.id }}" data-optionvalue={{ option_values.id }}>
                        {% endfor %}
                        </div>

                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
</form>
</div>
    {{ options_markup|json_script:"optionmarkup" }}
{% endblock %}


{% block javascript %}
 <script>

var option_markup = JSON.parse(document.getElementById('optionmarkup').textContent);
// console.log(select_values)
</script>
{% endblock %}




