{% load static %}
<div class="container" id="stock_options_edit">

    <div class="row">
        <div class="col-12"><input type="hidden" value="{{ base_price }}" name='base_price' id="base_price"></div>
        <div class="col">
            {% for select in  select_data %}
                <div class="row mb-2" id="div_select_{{ select.id }}" {% if select.is_dynamic %} style="display: none" {% endif %} data-option={{ select.id }}>
                    <label for="option_class_{{ select.id }}" class="col-form-label col-sm-2">{{ select.label }}</label>
                    <div class="col-sm-10">
                        <select id="option_class_{{ select.id }}" data-selectclass="{{ select.id }}" class=" form-select tsg_option_class {% if select.is_dynamic %} dynamic_select {% endif %}" name="option_class_{{ select.id }}" >
                            <option value="0" data-class={{ select.id }} data-option=0>{{ select.default }}</option>
                            {% for class_values in select.values %}
                                <option value="{{ class_values.id }}" data-class={{ select.id }} >{{  class_values.drop_down }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</div>

{{ select_data|json_script:"optionvalues" }}
{{ variant_info|json_script:"variantvalues" }}
{% if orderline_product_addons %}
    {{ orderline_product_addons|json_script:"order_line_selected" }}
{% endif %}

{% if orderline_options %}
    {{ orderline_options|json_script:"order_line_options" }}
{% endif %}


 <script>

var select_values = JSON.parse(document.getElementById('optionvalues').textContent);
var variant_info = JSON.parse(document.getElementById('variantvalues').textContent);

{% if orderline_product_addons %}
    var orderline_selected_values = JSON.parse(document.getElementById('order_line_selected').textContent);
    console.log(orderline_selected_values);
{% else %}
    var orderline_selected_values = [];
{% endif %}

{% if orderline_options %}
    var orderline_product_options_values = JSON.parse(document.getElementById('order_line_options').textContent);
{% else %}
    var orderline_product_options_values = [];
{% endif %}

$(document).ready(function(){
    $('.tsg_option_class').each(function(){
        var select_class = $(this).data('selectclass');
        var selected_value = get_selected_value(select_class);
        if(selected_value > 0){
            $(this).val(selected_value);
        }
    });

    function get_selected_value(select_class_id){
        var selected_value = 0
        $(orderline_selected_values).each(function(){
            if (this.class_field_id == select_class_id){
                selected_value = this.value_id;

            }
        });
        return selected_value;
    }
})

// console.log(select_values)
</script>







