<div class="container">
    <div class="row">
        <div class="col">

            <table id="product_table" class="table table-hover table-striped align-middle table-sm"
                   style="width:100%">
                <thead>
                <tr>
                    <th width="75px">Image</th>
                    <th class="col-4">Name</th>
                    <th class="col-auto">Title</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="ibox-content tsg_navs">
            <ul class="nav nav-tabs" role="tablist" id="stock_product_extrea_tabs">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="add_dlg_stock_variants" data-bs-toggle="tab"
                       href="#tab-add_dlg_stock_variants"
                       role="tab">
                        <i class="fa-solid fa-list"></i> Variants</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="add_dlg_stock_product-options" data-bs-toggle="tab"
                       href="#tab-add_dlg_stock_product-options"
                       role="tab">
                        <i class="fa-solid fa-gears" id="js-tab_product_option_icon"></i> Product Options</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="add_dlg_stock_variants-options" data-bs-toggle="tab"
                       href="#tab-add_dlg_stock_variants-options"
                       role="tab">
                        <i class="fa-regular fa-sliders js-tab_variant_option_icon"></i> Variant options
                    </a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="add_dlg_stock_related" data-bs-toggle="tab"
                       href="#tab-add_dlg_stock_related"
                       role="tab">
                        <i class="fa-solid fa-link"></i> Related Items</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-add_dlg_stock_variants" class="tab-pane active fade show">
                    <table id="core_variants_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th width="col-1">Code</th>
                            <th class="col-4">Size</th>
                            <th class="col-4">Material</th>
                            <th class="col-1">Price</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div role="tabpanel" id="tab-add_dlg_stock_product-options" class="tab-pane fade">
                    <div class="panel-body" id="ajax_load-product_stock_options">

                    </div>
                </div>

                <div role="tabpanel" id="tab-add_dlg_stock_variants-options" class="tab-pane fade">
                    <div class="panel-body" id="ajax_load-product_variant_options">

                    </div>
                </div>

                <div role="tabpanel" id="tab-add_dlg_stock_related" class="tab-pane fade">
                    <div class="panel-body">
                        <table id="add_product_related_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                            <thead>
                                <tr>
                                    <th width="75px">Image</th>
                                    <th class="col-4">Name</th>
                                    <th class="col-auto">Title</th>
                                    <th class="75px"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" action="{{form_post_url}}"
                  {% if price_for|upper == "I" %} class="js-product-add"
                  {% else %}
                  class="js-quote-add"
                  {% endif %}
            id="form-stock">
                {% csrf_token %}
            {% if price_for|upper == "I" %}
                <input type="hidden" id="{{ form.order.name }}" name="{{ form.order.name }}" value="{{ order_id }}">
                <input type="hidden" id="{{ form.status.name }}" name="{{ form.status.name }}" value="1">
            {% else %}
                <input type="hidden" id="{{ form.quote.name }}" name="{{ form.quote.name }}" value="{{ quote_id }}">
            {% endif %}
                <input type="hidden" id="{{ form.product_id.name }}" name="{{ form.product_id.name }}">
                <input type="hidden" id="{{ form.product_variant.name }}" name="{{ form.product_variant.name }}">
                <input type="hidden" id="{{ form.name.name }}" name="{{ form.name.name }}">
                <input type="hidden" id="{{ form.model.name }}" name="{{ form.model.name }}">
                <input type="hidden" id="{{ form.size_name.name }}" name="{{ form.size_name.name }}">
                <input type="hidden" id="{{ form.width.name }}" name="{{ form.width.name }}">
                <input type="hidden" id="{{ form.height.name }}" name="{{ form.height.name }}">
                <input type="hidden" id="{{ form.material_name.name }}" name="{{ form.material_name.name }}">
                <input type="hidden" id="{{ form.orientation_name.name }}" name="{{ form.orientation_name.name }}">

                <input type="hidden" id="{{ form.is_bespoke.name }}" name="{{ form.is_bespoke.name }}" value="False">

                <input type="hidden" id="{{ form.total.name }}" name="{{ form.total.name }}"
                       value="{{ form.total.value|floatformat:2 }}">
                <input type="hidden" id="{{ form.tax.name }}" name="{{ form.tax.name }}"
                       value="{{ form.tax.value|floatformat:2 }}">
                <input type="hidden" id="{{ form.exclude_discount.name }}" name="{{ form.exclude_discount.name }}"
                       value="{{ form.exclude_discount.value }}">
                <input type="hidden" id="{{ form.bulk_used.name }}" name="{{ form.bulk_used.name }}"
                       value="{{ form.bulk_used.value }}">
                <input type="hidden" id="{{ form.bulk_discount.name }}" name="{{ form.bulk_discount.name }}"
                       value="1">
                <input type="hidden" id="{{ form.single_unit_price.name }}" name="{{ form.single_unit_price.name }}"
                       value="0.00">

                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="form-check form-switch col-6 ">
                                <input class="form-check-input switchApplyBulk" type="checkbox" id="switchApplyBulk" role="switch"
                                       checked>
                                <label class="form-check-label" for="stock-switchShowBulk">Apply bulk discount</label>
                            </div>
                            <div class="form-check-warning form-switch col-6">
                                <input class="form-check-input" type="checkbox" id="switch_exclude_discount"
                                       name="switch_exclude_discount" role="switch">
                                <label class="form-check-label" for="switch_exclude_discount">Exclude from discount</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse show" id="collapseBulkDiscount">
                                <div class="row">
                                    <div class="col-12" id="bulkTableDiv">
                                        <select class="form-select bulk_group_select" id="stock-bulk_group_select">
                                            {% for bulk_group in bulk_info %}
                                                <option value="{{ bulk_group.id }}" {% if bulk_group.id == bulk_discount %} selected {% endif %}>{{ bulk_group.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="row">
                                            <div class="col-xs-12" id="bulk_pricing_div">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="row d-flex justify-content-md-end mb-2">
                                <div class="col-6 col-lg-4">

                                    <label for="{{ form.quantity.name }}"
                                           class="form-label">{{ form.quantity.label }}</label>
                                    <input type="number" min="1" step="1" class="form-control calc_line_totals"
                                           id="{{ form.quantity.name }}" name="{{ form.quantity.name }}"
                                           value="1">
                                </div>
                                <div class="col-6 col-lg-4">
                                    <label for="{{ form.price.name }}"
                                           class="form-label">{{ form.price.name }}</label>
                                    <input type="number" id="{{ form.price.name }}" name="{{ form.price.name }}"
                                           step="0.01"
                                           value="{{ form.price.value|floatformat:2 }}"
                                           class="form-control calc_line_totals" readonly>
                                </div>
                                <div class="col-12 col-lg-4 d-flex align-items-end text-end">
                                    <h3>£<span id="line_total_cal">{{ form.total.value|floatformat:2 }}</span></h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" id="js-copy-to-manaul-stock" class="btn btn-primary ">Use with <i class="fa-regular fa-hand"></i></button>
                                <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Close</button>
                                <button type="submit" id="submit" class="btn btn-success pull-right">Add</button>
                            </div>
                        </div>

            </form>
        </div>
    </div>

</div>

{% block javascript %}

    <script>

        $(document).ready(function () {

            var manual_data = {}

            if ( $.fn.dataTable.isDataTable( '#product_table' ) ) {
                var product_table = $('#product_table').DataTable();
            }
            else {
                var product_table = $('#product_table').DataTable({
                    "dom": "<'row'<'col-6'fl><'col-6'p>>" +
                        "<'row'<'col-12'tr>>",
                    "processing": true,
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "pageLength": 10,
                    "autoWidth": false,
                    "responsive": false,
                    "serverSide": true,
                    "select": true,
                    "scroller": true,
                    scrollY: 200,
                    "rowId": 'product_id',
                    "ajax": {
                        "processing": true,
                       // "url": "/products/api/post-list/products/{{ store_id }}/?format=datatables",
                        "url": "/products/api/store/{{ store_id }}/products?format=datatables",

                        "type": "GET",
                        "beforeSend": function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token|escapejs }}");
                        }
                    },
                    "deferRender": false,

                    "search": {
                        "regex": true
                    },
                    columns: [

                        {
                            data: "image_url",
                            name: "thumbnail",
                            searchable: "false",
                            sortable: "false",
                            render: function (data, type, row, meta) {
                                return '<img class="rounded mx-auto d-block product-thumb" src="' + data + '">';
                            }
                        },

                        {
                            data: "name",

                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['product']['productdescbase']['name'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            }
                        },
                        {
                            data: "title",
                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['product']['productdescbase']['title'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            }
                        },
                        {
                            data: "description",
                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['product']['productdescbase']['description'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            },
                            "visible": false
                        },
                        {
                            data: "product_id",
                            "visible": false,
                            "searchable": false
                        },
                        {
                            data: "product.corevariants",
                            name: "product.corevariants.supplier_code",
                            "visible": false,
                            "searchable": true
                        },
                        {
                            data: "bulk_group.bulk_group_id",
                            name: "bulk_discount_group",
                            visible: false,
                            searchable: "false",
                        },
                        {
                            data: "product.productdescbase.name",
                            visible: false,
                            searchable: true
                        },
                        {
                            data: "product.productdescbase.title",
                            visible: false,
                            searchable: true
                        },
                        {
                            data: "product.productdescbase.description",
                            visible: false,
                            searchable: true
                        }
                    ]
                });
            }
            product_table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    let product_id = product_table.row(indexes).id()
                    set_variant_url(product_id)
                    set_related_url(product_id)
                    set_product_options(product_id)
                    set_product_details(product_table.row(indexes).data())
                    set_bulk_group(product_table.row(indexes).data())
                }
            });


            let core_vars_tbl = $('#core_variants_table').DataTable({
                "processing": true,
                "pageLength": 100,
                "paging": false,
                "info": false,
                "autoWidth": false,
                "searching": false,
                "responsive": true,
                "select": true,
                "deferRender": false,
                "scroller": true,
                scrollY: 200,
                "rowId": 'prod_variant_core_id',
                "ajax": {
                    "processing": true,
                    "url": "/products/api/storevariants/" + 1 + "/{{ store_id }}?format=datatables",
                },
                columns: [
                    {data: "variant_code"},
                    {
                        data: "prod_var_core.size_material.product_size.size_name"
                    },
                    {
                        data: "prod_var_core.size_material.product_material.material_name"
                    },
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            if (data['variant_overide_price'] > 0)
                                return data['variant_overide_price']
                            else
                                return data['prod_var_core']['size_material']['price']
                        },
                        name: 'variant_price'
                    },
                    {data : "prod_variant_id", visible: false,}

                ]

            })


             if ( $.fn.dataTable.isDataTable( '#add_product_related_table' ) ) {
                var add_product_related_table = $('#add_product_related_table').DataTable();
            }
            else {
                var add_product_related_table = $('#add_product_related_table').DataTable({
                    "dom": "<'row'<'col-6'><'col-6'>>" +
                        "<'row'<'col-12'tr>>",
                    "processing": true,
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "pageLength": 10,
                    "autoWidth": false,
                    "responsive": false,
                    "serverSide": true,
                    "select": true,
                    "scroller": true,
                    scrollY: 200,
                    "rowId": 'related.product_id',
                    "ajax": {
                        "processing": true,
                        "url": "/products/related/1/store?format=datatables",
                        "type": "GET",
                    },
                    "deferRender": false,

                    "search": {
                        "regex": true
                    },
                    columns: [

                        {
                            data: "related.image_url",
                            name: "thumbnail",
                            searchable: "false",
                            sortable: "false",
                            render: function (data, type, row, meta) {
                                return '<img class="rounded mx-auto d-block product-thumb" src="' + data + '">';
                            }
                        },

                        {
                            data: "related.name",

                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['related']['product']['productdescbase']['name'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            }
                        },
                        {
                            data: "related.title",
                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['related']['product']['productdescbase']['title'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            }
                        },
                        {
                            data: "related.description",
                            render: function (data, type, row, meta) {
                                let rtn_str = "";
                                if(data == null)
                                {
                                    rtn_str = row['related']['product']['productdescbase']['description'];
                                }
                                else{
                                    rtn_str = data
                                }
                                return rtn_str;
                            },
                            "visible": false
                        },
                        {
                        data: "related.product_id",
                        sortable: false,
                        className: 'text-end',
                        render: function ( data, type, row ) {

                            //let search_icon = '<a class="btn {{ BUTTON_INFO }} btn-sm js-related_search" data-productID="'+data+'" role="button"><i class="fa-solid fa-magnifying-glass"></i></a>'
                            let search_btn = '<button type="button" class="btn {{ BUTTON_INFO }} js-related_search btn-sm" data-productID="'+data+'"><i class="fa-solid fa-magnifying-glass"></i></button>'
                            return search_btn
                        }
                    },

                        {
                            data: "related.product.productdescbase.name",
                            visible: false,
                            searchable: true
                        },
                        {
                            data: "related.product.productdescbase.title",
                            visible: false,
                            searchable: true
                        },
                        {
                            data: "related.product.productdescbase.description",
                            visible: false,
                            searchable: true
                        }
                    ]
                });
            }

            function set_variant_url(product_id) {
                let ajax_url = "/products/api/storevariants/" + product_id + "/{{ store_id }}?format=datatables"
                core_vars_tbl.ajax.url(ajax_url).load();
            }

            function set_related_url(product_id) {
                let ajax_url = "/products/related/" + product_id + "/store?format=datatables"
                add_product_related_table.ajax.url(ajax_url).load();
            }

            function set_product_options(product_id){
                let url = '/orders/product/'+product_id+'/ajax_load_options/';
                $.ajax({
                    url: url,  // <-- AND HERE
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.html_content) {
                            $("#ajax_load-product_stock_options").html(data.html_content);
                        }
                    },
                });
            }

            product_table.on('draw', function () {
                product_table.row(0).select();

            });

            core_vars_tbl.on('draw', function () {
                core_vars_tbl.row(0).select();
            });

            core_vars_tbl.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    //let product_variant_id = core_vars_tbl.row(indexes).id()
                    let row_data = core_vars_tbl.row(indexes).data()
                    set_product_variant_details(row_data)

                    let product_variant_id = row_data['prod_variant_id'];
                    //load the options here
                    SetPrice(true, '#form-stock')
                    load_variant_options({{ store_id }}, product_variant_id)
                }
            });

            function set_product_details(data_row) {

                $('#form-stock #{{ form.product_id.name }}').val(data_row['product_id'])
                let name = "";
                if(data_row['name'] == null)
                     name = data_row['product']['productdescbase']['name'];
                else
                    name = data_row['name'];
                $('#form-stock #{{ form.name.name }}').val(name)
                 manual_data['name'] = name
            }

            function set_bulk_group(data_row){
                let bulk_group_id = data_row['bulk_group']['bulk_group_id'];
                $('#form-stock #stock-bulk_group_select').val(bulk_group_id);

            }

            function set_product_variant_details(data_row) {

                let core_variant = data_row['prod_var_core'];
                $('#form-stock #{{ form.size_name.name }}').val(core_variant['size_material']['product_size']['size_name'])
                $('#form-stock #{{ form.width.name }}').val(core_variant['size_material']['product_size']['size_width'])
                $('#form-stock #{{ form.height.name }}').val(core_variant['size_material']['product_size']['size_height'])
                $('#form-stock #{{ form.material_name.name }}').val(core_variant['size_material']['product_material']['material_name'])
                $('#form-stock #{{ form.orientation_name.name }}').val(core_variant['size_material']['product_size']['orientation']['orientation_name'])
                $('#form-stock #{{ form.product_variant.name }}').val(core_variant['prod_variant_core_id'])
                $('#form-stock #{{ form.model.name }}').val(data_row['variant_code'])

                if (data_row['variant_overide_price'] > 0) {
                    $('#form-stock #{{ form.price.name }}').val(data_row['variant_overide_price'])
                    //set the single price for future edits if bulk group is used
                    $('#form-stock #{{ form.single_unit_price.name }}').val(data_row['variant_overide_price'])
                } else {
                    $('#form-stock #{{ form.price.name }}').val(core_variant['size_material']['price'])
                     //set the single price for future edits if bulk group is used
                    $('#form-stock #{{ form.single_unit_price.name }}').val(core_variant['size_material']['price'])
                }

                manual_data['width'] = core_variant['size_material']['product_size']['size_width']
                manual_data['calcwidth'] = core_variant['size_material']['product_size']['size_width']
                manual_data['height'] = core_variant['size_material']['product_size']['size_width']
                manual_data['calcheight'] = core_variant['size_material']['product_size']['size_width']
                manual_data['material'] = core_variant['size_material']['product_material']['material_name']
                manual_data['code'] = data_row['variant_code']
                manual_data['price'] = $('#form-stock #{{ form.price.name }}').val()


            }

            function copy_to_manual(){
                $('#form-quick_manual #manualWidth').val(manual_data['width'])
                $('#form-quick_manual #manualCalcWidth').val(manual_data['calcwidth'])
                $('#form-quick_manual #width').val(manual_data['calcwidth'])
                $('#form-quick_manual #manualHeight').val(manual_data['height'])
                $('#form-quick_manual #manualCalcHeight').val(manual_data['calcheight'])
                 $('#form-quick_manual #height').val(manual_data['calcheight'])
                $('#form-quick_manual #manualPrice').val(manual_data['price'])
                $('#form-quick_manual #{{ form.single_unit_price.name }}').val(manual_data['price'])
                $('#form-quick_manual #price').val(manual_data['price'])
                $('#form-quick_manual #quantity').val(1)
                $('#form-quick_manual #manualMaterial').val(manual_data['material'])
                $('#form-quick_manual #model').val(manual_data['code'])
                $('#form-quick_manual #name').val(manual_data['name'])

                $('#order-add-product-tabs #manual-product-tab').tab('show');
                $('#form-quick_manual #manualMaterial').trigger('change');


            }

            $('#js-copy-to-manaul-stock').click(copy_to_manual)

            $('#switch_exclude_discount').change(function () {
                let excluded =  $(this).is(":checked");
                let exclude_id_str = {{ form.exclude_discount.name }}
                $(exclude_id_str).val(excluded);
            });

            $('#add_product_related_table').on('click', '.js-related_search', function () {
                row_id = $(this).attr('data-productID');
                let search_str = ""
                let row_data = add_product_related_table.row('#'+row_id).data()
                if(row_data['related']['name']){
                    search_str = row_data['related']['name']
                }
                else {
                    search_str = row_data['related']['product']['productdescbase']['name']
                }
                var product_table_search = $('#product_table').DataTable();
                product_table_search.search(search_str).draw();

                $('#stock_product_extrea_tabs.nav-tabs a[href="#tab-add_dlg_stock_variants"]').tab('show')

            });

            function load_variant_options(store_id, product_variant_id){
                let url = '/orders/'+store_id+'/product_variant/'+product_variant_id+'/ajax_load_options/';
                $.ajax({
                    url: url,  // <-- AND HERE
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.html_content) {
                            $("#ajax_load-product_variant_options").html(data.html_content);
                            setOptionBasePrice();
                        }
                    },
                });
            }

              function setOptionBasePrice()
              {
                  let base_price = $('#form-stock #price').val();
                  alert(base_price)
                  $('#base_price').val(base_price);
              }


        });






    </script>

{% endblock javascript %}