{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header">
    <h4 class="modal-title">Create New Address</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form method="post" action="{% url 'customeraddresscreatesave' customer_id %}" class="js-address-submit">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4">{{ form.fullname|as_crispy_field }}</div>
                <div class="col-md-4">{{ form.telephone|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.email|as_crispy_field }}</div>
                <div class="col-md-12 form-floating">
                    <input  class="form-control" id="addressLookup" placeholder="Lookup">
                    <label for="addressLookup">Search for address</label>
                </div>
                <div class="col-md-12">{{ form.company|as_crispy_field }}</div>
                <div class="col-md-12">{{ form.address_1|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.city|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.area|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.postcode|as_crispy_field }}</div>
                 <div class="col-md-6">{{ form.country|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.default_billing|as_crispy_field }}</div>
                <div class="col-md-6">{{ form.default_shipping|as_crispy_field }}</div>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" class="btn {{ BUTTON_OK }} pull-right">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>

    $(function () {

        let fieldMatch = {
            'Company': 'id_{{ form.company.name}}',
            'Line1': 'id_{{ form.address_1.name}}',
            'Line2': 'id_{{ form.address_1.name}}',
            'Line3': 'id_{{ form.address_1.name}}',
            'City': 'id_{{ form.city.name}}',
            'ProvinceName': 'id_{{ form.area.name}}',
            'CountryIsoNumber': 'id_{{ form.country.name}}',
            'PostalCode': 'id_{{ form.postcode.name}}',
        }


        let inputFields = ['#addressLookup']
        TSGAddressLookup(inputFields, '', fieldMatch)
    })

</script>
