{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header">
    <h4 class="modal-title">Set Password</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form method="post" action="{% url 'customereditpassword' customer_id %}" class="form-customer-password" id="form-customer-password">
            {% csrf_token %}
            <input type="hidden" id="customer_id" name="customer_id" value="{{ customer_id }}">

            <div class="row">
                  <div class="input-group mb-2 col-12">
  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="Password" id="newpassword" name="newpassword" data-size="8" data-character-set="a-z,A-Z,0-9,#">
  <button class="btn btn-outline-secondary" type="button" id="button-genpass"><i class="fas fa-magic fa-wizard"></i></button>
</div>
                <div class="form-check col-6 pb-2">
                <input class="form-check-input" type="checkbox" id="checksend" name="checksend" value="1">
                <label class="form-check-label" for="checksend">
                  Send Email
                </label>
                </div>


                <div class="col-md-6">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" class="btn btn-primary pull-right">Set</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $(function () {
      $('#button-genpass').click(function(){

          let newpass = randString('#newpassword')
          $('#newpassword').val(newpass)

      })
    })

    function randString(id) {
        var dataSet = $(id).attr('data-character-set').split(',');
        var possible = '';
        if ($.inArray('a-z', dataSet) >= 0) {
            possible += 'abcdefghijklmnopqrstuvwxyz';
        }
        if ($.inArray('A-Z', dataSet) >= 0) {
            possible += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        }
        if ($.inArray('0-9', dataSet) >= 0) {
            possible += '0123456789';
        }
        if ($.inArray('#', dataSet) >= 0) {
            possible += '![]{}()%&*$#^<>~@|';
        }
        var text = '';
        for (var i = 0; i < $(id).attr('data-size'); i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }
</script>

