{% load static %}
<div class="row pe-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-sm btn-success js-product-dlg" data-url="{% url 'productstoreadd_dlg' product_obj.product_id %}" data-dlgsize="modal-sm">Add</button>
            </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-content">

                <table id="product_sites_table" class="table table-hover table-striped align-middle table-sm"  style="width:100%" >
                    <thead>
                    <tr>
                        <th width="25px">Store</th>
                        <th class="col-1">Image</th>
                        <th class="col-3">Name</th>
                        <th class="col-5">Description</th>
                        <th class="col-1">Pricing</th>
                        <th class="col-1">Status</th>
                        <th width="25px"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% block javascript %}

{% endblock %}



