{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {{ form.media }}
        {% csrf_token %}
        {{ form.product.as_hidden }}
         {{ form.store.as_hidden }}
        <div class="form-group">
            <div class="row ">
                <div class="col-12 col-md-3">
                    {% if form.image.value %}
                    <a href="{{ form.image.value }}" data-lightbox="image">
                        <img class="img-thumbnail tsg-thumbnail"  src="{% get_media_prefix %}{{ form.image.value }}">
                    </a>
                    {% else %}
                        <figure class="figure">
                        <figcaption class="figure-caption">Currently using the DEFAULT image</figcaption>
                            <img class="img-thumbnail tsg-thumbnail figure-img" src="{{ base_image }}">
                        </figure>
                    {% endif %}
                </div>
                <div class="col-12 col-md-7">
                    {{ form.image|as_crispy_field }}
                </div>
                <div class="col-6 col-md-1">{{ form.status|as_crispy_field }}</div>
                    <div class="col-6 col-md-1">{{ form.include_google_merchant|as_crispy_field }}</div>

            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    
                    <div class="col-12">{{ form.name|as_crispy_field }}</div>
                    <div class="col-12">{{ form.title|as_crispy_field }}</div>
                    <div class="col-12">{{ form.meta_title|as_crispy_field }}</div>
                    <div class="col-12">{{ form.meta_description|as_crispy_field }}</div>
                    <div class="col-12">{{ form.meta_keywords|as_crispy_field }}</div>
                    <div class="col-12">{{ form.tag|as_crispy_field }}</div>
                    <div class="col-12">{{ form.bulk_group|as_crispy_field }}</div>

                </div>
                <div class="col-12 col-md-8">
                    <div class="col-md-12">{{ form.description|as_crispy_field }}</div>
                    <div class="col-md-12">{{ form.long_description|as_crispy_field }}</div>
                    <div class="col-md-12">{{ form.sign_reads|as_crispy_field }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn {{ BUTTON_CANCEL }} "
                                onclick="location.href='{{ view.get_success_url }}'">Cancel
                        </button>
                        <button type="submit" id="update" class="btn {{ BUTTON_UPDATE }} pull-right">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block javascript %}


<script src="{% static 'libs/tinymce/tinymce.min.js' %}"></script>

<script>
  var t1 = tinymce.init({
      selector: 'textarea#editor',
  })

</script>






{% endblock javascript %}






