{% load static %}
<h3>Active Options</h3>
                <table id="product_options_active_table" class="table table-hover table-striped align-middle table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-2">Option</th>
                        <th width="col-3">Desc</th>
                        <th width="col-3">Value</th>
                        <th class="col-1">Type</th>
                        <th class="col-1">Order</th>
                        <th class="col-1">Required</th>
                        <th class="text-end">&nbsp</th>
                    </tr>
                    </thead>
                </table>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>


