{% load static %}
<h3>Active Variants</h3>
                <table id="product_variant_active_table" class="table table-hover table-striped align-middle table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th class="text-start">&nbsp;</th>
                        <th class="col-2">Code</th>
                        <th class="col-2">Image</th>
                        <th class="col-4">Size</th>
                        <th class="col-4">Material</th>
                    </tr>
                    </thead>
                </table>

<script>
$(document).ready(function() {
    var manual_data = {}

    if ($.fn.dataTable.isDataTable('#product_variant_active_table')) {
        var product_variant_active_table = $('#product_variant_active_table').DataTable();
    } else {

        var product_variant_active_table = $('#product_variant_active_table').DataTable({
            "dom": "<'row'<'col-6'fl><'col-6'p>>" +
                "<'row'<'col-12'tr>>",
            "processing": true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": 10,
            "autoWidth": false,
            "responsive": false,
            "serverSide": false,
            "select": 'single',
            "scroller": true,
            scrollY: 400,
            "rowId": 'prod_variant_id',
            "ajax": {
                "processing": true,
                "url": "/products/api/storevariants/{{ product_id }}/{{ first_store_id }}?format=datatables",
                "type": "GET",
            },
            "deferRender": false,

            "search": {
                "regex": true
            },
            "order": [[ 3, "asc" ]],
            columns: [
                {data: "prod_variant_id",
                        render: function ( data, type, row ) {
                            let current_store_id = $('#js-variant-add-store_id').val();
                            let dataurl = "/products/sitevariant/delete/"+data;
                            return '<a class="btn btn-outline-danger btn-sm js-variant_site-delete" role="button" data-url="'+dataurl+'"><i class="fa-solid fa-trash"></i></a>';

                        },
                     sortable: false,
                    },

                {data: "variant_code"},
                {data: "prod_var_core.product.image", defaultContent: "no-image.png",
                    render: function ( data, type, row ) {
                    if(data == null ){
                        img_path = {% get_media_prefix %} + "no-image.png"
                    }
                    else{
                        img_path = {% get_media_prefix %} + data
                    }

                     return '<img class="rounded mx-auto d-block product-thumb" src="'+img_path+'" height="50px">';
                    },
                     sortable: false,
                },
                {data: "prod_var_core.size_material.product_size.size_name"},
                {data: "prod_var_core.size_material.product_material.material_name"},
            ]
        });
    }
})



</script>

