{% load static %}
<h3>Current Symbols</h3>
                <table id="product_symbol_table" class="table table-hover table-striped align-middle table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-2">Symbol</th>
                        <th class="col-9">Name</th>
                        <th class="text-end">&nbsp;</th>
                    </tr>
                    </thead>
                </table>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>


