{% load static %}
<div class="row pe-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn-sm btn-success js-product-dlg" data-url="{% url 'productstoreadd_dlg' product_obj.product_id %}" data-dlgsize="modal-sm">Add</button>
            </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-content">
                <table id="product_category_table" class="table table-hover table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-2">Store</th>
                        <th class="col-auto">Category</th>
                        <th class="col-2">status</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% block javascript %}


{% endblock %}



