{% load static %}
<h3>Current Symbols</h3>
                <table id="product_symbol_table" class="table table-hover table-striped align-middle table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-1">Symbol</th>
                        <th width="col-3">Standard</th>
                        <th class="col-2">Code</th>
                        <th class="col-2">Photolume</th>
                        <th class="col-2">Reflective</th>
                        <th class="col-2">Status</th>
                        <th class="text-end">&nbsp;</th>
                    </tr>
                    </thead>
                </table>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>


