{% load static %}

<div class="row">
    <div class="col-6">
        <select class="form-select pb-2" aria-label="Store" id="js-related_list-store_id" name="store_id">
            <option value=0>All Websites</option>
            {% for store_data in store_obj.all %}
                <option value="{{ store_data.store_id }}">{{ store_data.name }}</option>

            {% endfor %}
        </select>
    </div>
    <div class="col-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-sm btn-success js-product-dlg"
                    data-url="{% url 'related_product-add' product_obj.product_id %}" data-dlgsize="modal-xl"><i
                    class="fa-solid fa-link"></i> Add Related
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-content">
                <table id="product_related_table" class="table table-hover table-striped align-middle table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th class="50px">Store</th>
                        <th class="col-3">Product</th>
                        <th class="col-6">Title</th>
                        <th class="col-1">Order</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% block javascript %}




{% endblock %}



