<div class="col-12">
                        <h3>Product Standards</h3>
                        <button type="button" class="btn btn-sm btn-primary" id="js_add_product_standard" data-url="{%  url 'product-standards-add' product_id %}"
                        data-dlgsize="modal-sm">Add standard</button>
                        <table id="product_standard_table"
                               class="table table-hover table-striped align-middle table-sm table-responsive"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th class="col-2">Code</th>
                                <th class="col-4">Compliance</th>
                                <th class="col-2">Photo</th>
                                <th class="col-2">Reflective</th>
                                <th class="col-1">Status</th>
                                <th class="col-1" class="float-end">Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>