{% load static %}
<h3>Available Symbols</h3>
                <table id="product_symbol_table_available" class="table table-hover table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th class="text-start">&nbsp;</th>
                        <th width="col-1">Symbol</th>
                        <th class="col-11">Name</th>

                    </tr>
                    </thead>
                </table>
<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>