{% load static %}
<div class="row pe-2">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn-sm btn-success js-product-dlg" data-url="{% url 'productstoreadd_dlg' product_obj.product_id %}" data-dlgsize="modal-sm">Add</button>
            </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="ibox">
            <div class="ibox-content">
                <table id="product_category_table" class="table table-hover table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-2">Store</th>
                        <th class="col-auto">Category</th>
                        <th class="col-2">status</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% block javascript %}

{% include 'partials/javascript.html' %}

    <script>
    $(document).ready(function() {

    //    $("#js-customer-create").click(loadForm);

    $('#product_category_table').DataTable( {
        "dom": "<'row'<'col-sm-6'f><'col-sm-6'lT>>" +
         "<'row'<'col-sm-12'tr>>" +
         "<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "processing" : true,
        "lengthMenu" : [[10,25,50,100,-1], [10,25,50,100,"All"]],
        "pageLength": 25,
        "autoWidth": false,
        "responsive": true,
        "ajax": {
                 "processing": true,
                 "url": "/products/api/categories/"+ {{product_obj.product_id}}+"?format=datatables"
             },
        "deferRender": true,
        "order": [[ 1, "desc" ]],
         "search": {
            "regex": true
        },
        select: 'single',
        columns :[
            {
                data: "category_store.store.thumb",
                sortable: false,
                searchable: false,
                render: function ( data, type, row ) {
                    let image_src = '{% static "images/stores/" %}' + data;
                    return '<img height="15px" src="' + image_src + '">'
                 }
            },
            {data: "category_store.name",
                render: function ( data, type, row ) {
                    if (data == null)
                    {
                        return row['category_store']['category']['name']
                    }
                    else
                        return data
                 }
                },
            {
                data: "status",
                render: function (data, type, row) {
                    if (data == 1) {
                        return '<span class="badge rounded-pill badge-soft-success font-size-14">LIVE</span>'
                    } else {
                        return '<span class="badge rounded-pill badge-soft-danger font-size-14">OFF-LINE</span>'
                    }

                }
            },
            {
                data: "id",
                sortable: false,
                className: 'text-md-end text-start',
                render: function ( data, type, row ) {
                let edit_icon = '<a class="btn btn-primary btn-sm js-product-dlg" role="button" data-url="' + data + '/categoryedit"><i class="fas fa-edit fa-sm"></i></a>';
                let delete_icon = '<a  class="btn btn-danger btn-sm js-product-dlg" role="button" data-url="' + data + '/categorydeletedlg"><i class="fas fa-trash fa-sm"></i></a>';
                return  edit_icon + " " + delete_icon;

                }
            },
        ]
    } );


} );

    $(document).on('click', '.js-product-dlg', loadForm);

</script>


{% endblock %}



