<div class="row">
    <div class="col-7">
        <h4>Sizes</h4>
        <div class="ibox-content">
                <table id="variant_core_sizes_table" class="table table-hover table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-3">Name</th>
                        <th class="col-1">Width</th>
                        <th class="col-1">Height</th>
                        <th class="col-1">Orientation</th>
                    </tr>
                    </thead>
                </table>
            </div>
    </div>
    <div class="col-5">
        <h4>Materials</h4>
        <div class="ibox-content">
                <table id="variant_core_materials_table" class="table table-hover table-sm"
                       style="width:100%">
                    <thead>
                    <tr>
                        <th width="col-11">Name</th>
                        <th width="col-1">Price</th>
                    </tr>
                    </thead>
                </table>
            </div>
    </div>
</div>
