<div class="row">
    <div class="col-7">
        <div class="card">
            <h6 class="card-header">Sizes</h6>
            <div class="ibox-content card-body">
                    <table id="variant_core_sizes_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-3">Name</th>
                            <th class="col-1">Width</th>
                            <th class="col-1">Height</th>
                            <th class="col-1">Orientation</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <h6 class="card-header">Materials</h6>
            <div class="ibox-content card-body">
                    <table id="variant_core_materials_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-11">Name</th>
                            <th class="col-1">Price</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>


</div>
