<div class="row">
    <div class="col-7">
        <div class="card">
            <h6 class="card-header">Sizes</h6>
            <div class="ibox-content card-body">
                    <table id="variant_core_sizes_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-3">Name</th>
                            <th class="col-1">Width</th>
                            <th class="col-1">Height</th>
                            <th class="col-1">Orientation</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <h6 class="card-header">Materials</h6>
            <div class="ibox-content card-body">
                    <table id="variant_core_materials_table" class="table table-hover table-striped align-middle table-sm"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th class="col-11">Name</th>
                            <th class="col-1">Price</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>


</div>


<script>
    $(function () {
        if ($.fn.dataTable.isDataTable('#variant_core_sizes_table')) {
            var variant_core_sizes_table = $('#variant_core_sizes_table').DataTable();
        } else {
            var variant_core_sizes_table = $('#variant_core_sizes_table').DataTable({
                "dom": "<'row'<'col-sm-6'f><'col-sm-6'T>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-6'><'col-sm-6'>>",
                "processing": true,
                "pageLength": 100,
            "paging": true,
                "select": true,
                "search": true,
                "info": false,
                "scrollY": "200px",
                "scrollCollapse": true,
                "rowId": 'size_id',
                "serverSide": true,
                "paging": false,
                "ajax": {
                    "processing": true,
                    "url": "/pricing/api/sizes?format=datatables",
                },
                columns: [
                    {data: "size_name", defaultContent: ""},
                    {data: "size_width", defaultContent: ""},
                    {data: "size_height", defaultContent: ""},
                    {data: "orientation.orientation_name", defaultContent: ""},
                    {data: "size_id", defaultContent: "", visible: false},
                ]
            });
        };

        if ($.fn.dataTable.isDataTable('#variant_core_materials_table')) {
            var variant_core_materials_table = $('#variant_core_materials_table').DataTable();
        } else {
            var variant_core_materials_table = $('#variant_core_materials_table').DataTable({
                "dom": "<'row'<'col-sm-6'f><'col-sm-6'T>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-6'><'col-sm-6'>>",
                "processing": true,
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false,
                "select": 'single',
                "search": true,
                "info": false,
                "rowId": 'id',
                "autoWidth": true,
                "order": [[1, 'asc']],
                columns: [
                    {data: "product_material.material_name", defaultContent: ""},
                    {data: "price", defaultContent: 0.00},
                ]
            });
        }

        variant_core_sizes_table.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                let data = dt.row(indexes).id();
                let variant_url = '/pricing/api/sizematerials/' + data + '?format=datatables'
                variant_core_materials_table.ajax.url(variant_url).load()

                // do something with the ID of the selected items
            }
        });

        variant_core_sizes_table.on('deselect', function (e, dt, type, indexes) {
            if (type === 'row') {
                $('#btn_product_core_var_add').addClass('disabled')
                let variant_url = '/pricing/api/sizematerials/' + 0 + '?format=datatables'
                variant_core_materials_table.ajax.url(variant_url).load()
            }
        });

         variant_core_materials_table.on('select', function (e, dt, type, indexes) {
        if (type === 'row') {
            let data = dt.row(indexes).id();
            // do something with the ID of the selected items
            $('#id_size_material').val(data)
            $('#btn_product_core_var_add').removeClass('disabled')
        }
    });

    variant_core_materials_table.on('deselect', function (e, dt, type, indexes) {
        if (type === 'row') {
            $('#btn_product_core_var_add').addClass('disabled')
        }
    });



    })
</script>