{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'libs/tsg_datatables/datatables.min.css' %} "/>
{% endblock extra_css %}

{% block content %}
    <div class="wrapper wrapper-content layout-details">
        <div class="row top_bar">
            <div class="col-12">
                {% include 'returns/top_nav_returns.html' %}
            </div>
        </div>

    <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <table id="returns_list_table" class="table table-hover table-striped align-middle table-sm"
                                       style="width:100%">
                                    <thead>
                                    <tr>
                                        <th width="50px">Website</th>
                                        <th class="col-1">Ref</th>
                                        <th class="col-1">Order</th>
                                        <th class="col-1">Customer</th>
                                        <th class="col-2">Return Opened</th>
                                        <th class="col-1">Contact?</th>
                                        <th class="col-4">Comment</th>
                                        <th class="col-2">Status</th>
                                        <th class="text-end col-1"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script type="text/javascript" src="{% static 'js/returns.js' %}"></script>

<script>
      const static_const = {% get_static_prefix %};
        const media_url = "{% get_media_prefix %}";
       $(document).ready(function() {


    // $(document).on('click', '.js-courier-delete', loadForm);
     //$(document).on('submit', '#form-courier-delete', deleteCourier);

     /*function deleteCourier()
    {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    let dttable = $('#courier_list_table').DataTable();
                    dttable.ajax.reload();
                    $("#modal-base").modal("hide");  // <-- Close the modal
                } else {
                    $("#modal-base .modal-content").html(data.html_form);
                }
            }
        });
        return false;
    }*/



} );
    </script>


{% endblock javascript %}