{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}

{% endblock extrahead %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<form method="post" action=" {% url 'create_material' %}" enctype="multipart/form-data">
{{ form.media }}
    {% csrf_token %}

        <div class="row">
            <div class="col-md-6">{{ form.material_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.code|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.material_desc|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.material_desc_full|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.mounting_desc|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.mounting_desc_full|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.thickness_desc|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.thickness_desc_full|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.fixing_desc|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.fixing_desc_full|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.colour_desc|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.colour_desc_full|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.image|as_crispy_field }}</div>
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                    <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Create</button>
                </div>
            </div>
        </div>

</form>

{% endblock content %}

{% block javascript %}


<script src="{% static 'libs/tinymce/tinymce.min.js' %}"></script>

<script>
  var t1 = tinymce.init({
      selector: 'textarea#editor',
  })

</script>


{% endblock javascript %}