{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> New Store text</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'categorystoreadd' %}"
                      id="js-category-add-text-dlg">
                    {% csrf_token %}
                    <input type="hidden" id="category_id" name="category_id"
                           value="{{ category_id }}">
                    <h3>Which store to add text for?</h3>
                <select class="form-select pb-2" aria-label="Default select" id="store_id" name="store_id">

                    {% for store_data in store_obj %}
                        <option value="{{ store_data.store_id }}">{{ store_data.name }}</option>

                    {% endfor %}
                </select>
                <br>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="delete" class="btn btn-primary pull-right">Add</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

