{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Edit Store Parent</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'categorystoreparent_dlg' store_cat_id %}"
                      id="js-category-add-text-dlg">
                    {% csrf_token %}
                    <div class="col-md-6">{{ form.category_store|as_crispy_field }}</div>
                     <div class="row">
                      <div class="col-md-12">{{ form.parent|as_crispy_field }}</div>
                      <div class="col-md-4">{{ form.homepage|as_crispy_field }}</div>
                      <div class="col-md-4">{{ form.top|as_crispy_field }}</div>
                      <div class="col-md-4">{{ form.status|as_crispy_field }}</div>


                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="delete" class="btn btn-primary pull-right">Update</button>
                    </div>
                </div>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

