{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Edit Variant</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
     <div class="container">
         <h3>{{ size_material }}</h3>
        <form method="post" action="{% url 'product_core_variant-edit' prod_variant_core_id %}" id="form-core_variant_edit" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="prod_variant_core_id" name="prod_variant_core_id" value="{{ prod_variant_core_id }}">
            {{ form.size_material|as_crispy_field }}
            {{ form.product|as_crispy_field }}
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <img src="{% get_media_prefix %}{{ current_image }}" class="img-thumbnail tsg-thumbnail">
                        </div>
                        <div class="col-12">
                            {{ form.variant_image|as_crispy_field }}
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">{{ form.supplier|as_crispy_field }}</div>
                        <div class="col-6">{{ form.supplier_code|as_crispy_field }}</div>
                        <div class="col-6">{{ form.supplier_price|as_crispy_field }}</div>
                        <div class="col-12">{{ form.gtin|as_crispy_field }}</div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-2 ">{{ form.bl_live|as_crispy_field }}{{ form.exclude_fpnp|as_crispy_field }}</div>
                    <div class="col-2">{{ form.shipping_cost|as_crispy_field }}</div>
                    <div class="col-2">{{ form.lead_time_override|as_crispy_field }}</div>
                    <div class="col-2">{{ form.lead_time_override_range|as_crispy_field }}</div>
                    <div class="col-2">{{ form.pack_count|as_crispy_field }}</div>
                    <div class="col-2">{{ form.order_by|as_crispy_field }}</div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }}r ">Cancel</button>
                        <button type="submit" id="btn_product_core_var_add" class="btn {{ BUTTON_UPDATE }} pull-right">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

</script>

<!-- <script type="text/javascript" src="{% static 'js/products.js' %}"></script> -->
