{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Add additional images to <strong>base</strong> product</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
            <form method="post" enctype="multipart/form-data" action="{% url 'product_additional_images-add' product_id 0 %}" id="form_product_image_add" >
                {% csrf_token %}
                     {{ form.product.as_hidden }}
                    <h3>Choose and image</h3>
                    <div class="row">
                        <div class="col-6">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.alt_text|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.sort_order|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" id="delete" class="btn {{ BUTTON_ADD }} pull-right">Add</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

