{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Add Variants to the chosed website</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                        <select class="form-select pb-2" aria-label="Store" id="js-variant-add-store_id" name="store_id">
                            {% for store_data in store_obj.all %}
                                <option value="{{ store_data.store_id }}">{{ store_data.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

            </div>
        <div class="row">
            <div class="col-6">
                {% include 'products/sub_layout/product-variants-available.html' %}
            </div>
            <div class="col-6">
                {% include 'products/sub_layout/product-variants-active.html' %}
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12 text-end">
                <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger ">Close</button>
            </div>
        </div>
    </div>

</div>

<script>

    $('#js-variant-add-store_id').on('change', function(){
                let store_id = $(this).val();
                let newAvailableURL = "/products/api/corevariants/{{ product_id }}/exclude/"+store_id+"?format=datatables"
                let dtAvailable = $('#product_variant_table_available').DataTable();
                dtAvailable.ajax.url(newAvailableURL ).load();

                let newURL = "/products/api/storevariants/{{ product_id }}/"+store_id+"?format=datatables"
                let dt = $('#product_variant_active_table').DataTable();
                dt.ajax.url(newURL ).load();
            })

</script>
