{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> <strong>DUPLICATE</strong> Product</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'product_duplicate' product_id %}" id="form-product_duplicate">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product_id }}">
                    <p>Are you sure you want to duplicate this product</p>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" id="duplicate" class="btn {{ BUTTON_OK }} pull-right">Yes..clone</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

