{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> <strong>DELETE</strong> this variant</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <form method="post" action="{% url 'product_core_variant-delete' prod_variant_core_id %}" id="form-core_variant_edit" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this CORE variant? <br><br>{{ size_material }}<br><br>It will be removed from ALL websites</p>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" id="delete" class="btn {{ BUTTON_DELETE }} pull-right">Delete</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>