{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Add Related Product</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
     <div class="container">
        <form method="post" action="" id="form-core_variant_add" novalidate >
            {% csrf_token %}
             <input type="hidden" id="product_id" name="product_id" value="}">
            <input type="hidden" id="size_material_id" name="size_material_id" value="0">
            <input type="hidden" id="prod_variant_core_id" name="prod_variant_core_id" value="">

            <div class="row">
                <div class="col-12">

                </div>
                <div class="col-12">
                    <input class="form-check-input " type="checkbox" id="reverse_related" checked>
                    <label class="form-check-label" for="reverse_related">Use Company Address</label>
                </div>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger ">Cancel</button>
                        <button type="submit" id="btn_product_core_var_add" class="btn btn-primary pull-right disabled">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/products.js' %}"></script>
