{% load crispy_forms_tags %}
{% load static %}

<div class="modal-header">
    <h4 class="modal-title"> Add Option Class defaults</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
     <div class="container">
        <form method="post" action="{% url 'product_variant_core_class_option-add' core_variant_id %}" id="form-core_variant_class_option_add">
            {% csrf_token %}
             <input type="hidden" id="core_variant_id" name="core_variant_id" value="{{ core_variant_id }}">

            <div class="row">
            <label for="group_option_select" class="label">Select the class you wish to add</label>
            <select class="form-select" id="js-class_option_select" name="class_option_select_id" data-url="{% url 'class_values' 0 %}">
                {% for class_name in object_classes %}
                {{ class_name.label }}
                        <option value="{{ class_name.id }}">{{ class_name.label }} - {{ class_name.name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="row pt-2" id="class_option_values">
                Select a class
            </div>
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" data-bs-dismiss="modal" class="btn {{ BUTTON_CANCEL }} ">Cancel</button>
                        <button type="submit" id="update" class="btn {{ BUTTON_ADD }} pull-right">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
</script>

