{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
      <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="row">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-3">{{ form.company|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.website|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.code|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.logo|as_crispy_field }}</div>

                    <div class="col-12 col-md-3">{{ form.main_contact|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.order_email|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.main_telephone|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.alt_telephone|as_crispy_field }}</div>

                    <div class="col-12 col-md-6">
                        <div class="col-12">{{ form.address|as_crispy_field }}</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-6">{{ form.city|as_crispy_field }}</div>
                            <div class="col-6">{{ form.area|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">{{ form.postcode|as_crispy_field }}</div>
                            <div class="col-6">{{ form.country|as_crispy_field }}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">{{ form.lead_time|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.account_type|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.payment_terms|as_crispy_field }}</div>
                    <div class="col-12 col-md-3">{{ form.payment_days|as_crispy_field }}</div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn {{ BUTTON_CANCEL }} "
                                    onclick="location.href='{{ view.get_success_url }}'">Cancel
                            </button>
                            <button type="submit" id="update" class="btn {{ BUTTON_UPDATE }} pull-right">Update</button>
                        </div>
                    </div>
                </div>

    </form>
{% endblock content %}

{% block javascript %}



{% endblock javascript %}






