<html>
<head>
    <meta charset="UTF-8">
    <meta name="xero-client-id" content="65A6654910034FA3981CCFA2C71A0825">
    <meta name="xero-scopes" content="offline_access accounting.settings accounting.contacts accounting.transactions">
    <meta name="xero-redirect-uri" content="https://127.0.0.1:8000/xero_api/callback">
    <!-- optional -->
    <meta name="xero-state" content="123">
    <title>My App</title>
</head>
<body>
    <span data-xero-sso data-label="Sign In with Xero"></span>
    <script src="https://edge.xero.com/platform/sso/xero-sso.js" async defer></script>
</body>
</html>
dHLDe_KhRI7F3OF_rlnUalV0tlVyFbi8UoA0j_NzSVYv9Kc1


https://login.xero.com/identity/connect/authorize?response_type=code&client_id=CF09696A2AA3439A8C196E0951704336&redirect_uri=http://localhost:8000/xero_api/passback/&scope=offline_access+accounting.transactions.read&state=123
https://login.xero.com/identity/connect/authorize?response_type=code&client_id=CF09696A2AA3439A8C196E0951704336&redirect_uri=http://localhost:8000/xero_api/passback/&scope=offline_access&state=123