{% load static %}
 <table id="return_product_list" class="table table-hover table-striped align-middle table-sm"
        style="width:100%">
     <thead>
     <tr>
         <th>Code</th>
         <th width="100px">Image</th>
         <th>Name</th>
         <th>Size</th>
         <th>Material</th>
         <th>Comment</th>
         <th>Status</th>
         <th>Reason</th>
         <th class="align-content-end">Qty</th>
         <th>{{ return_obj.store.currency.symbol_left }}/Unit</th>
         <th>Line {{ return_obj.store.currency.symbol_left }}</th>
         <th width="100px" ></th>
     </tr>
     </thead>
 </table>